[2017-04-04 08:18] a8775 opened #1 "feature request - passing proxy to constructor"
Now to change eg. proxy you have to set global variable, something like this:
[code]

[2017-04-18 04:12] maxperga opened #2 "I cannot launch the sample provided"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files (x86)\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Massimo\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build' ]
2 info using npm@4.5.0
3 info using node@v6.10.2
4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
5 info lifecycle typed-rest-client@0.10.0~prebuild

[2017-04-18 11:02] bryanmacfarlane commented on #2
What version of node?
Did you do npm install before running npm run build?

[2017-04-28 13:19] nicojs commented on #1
@a8775 what do you want exactly? It's pretty common to configure the proxy server in your environment.

[2017-05-20 15:30] Dante-101 opened #3 "Remove typings and Index.d.ts"
In the distributed npm package, `Index.d.ts` has `/// <reference path="../typings/index.d.ts" />` which prevents it from compiling. It works fine after I delete the file. Can we remove this?

Also, the documentation encourages installation of `typings` which was deprecated long time back. Can we update it to follow the best practices?

[2017-05-26 02:11] bryanmacfarlane commented on #3
I'll update without typings. thx

[2017-05-26 02:12] bryanmacfarlane commented on #1
agreed on env

[2017-05-26 02:12] #1 closed

[2017-05-26 07:12] nicojs commented on #1
Maybe we could still document that somewhere. It didn't work for me because i had set `http_proxy` instead of `HTTP_PROXY`.

[2017-06-11 18:03] torbinsky opened #4 "Support paths in base url"
Just had a bug that turned out to be caused by the base "url" effectively being a "base domain."

For example, if you set the base url to `http://example.com/common/base/path` and then call a method with a relative path of `/relative/path` the client will end up calling `http://example.com/relative/path`.

From my experience, it's pretty common for REST API's to have a common base url that **inclu

[2017-06-11 21:47] bryanmacfarlane commented on #4
Thanks for the feedback.  I'll consider this.

[2017-06-13 07:30] kaeedo commented on #4
In my use case, I also need to do this. Would be nice to have as a config option

[2017-06-19 16:55] roman-ponomarenko opened #5 "Rest request with custom headers missing in samples"
Could you possibly add rest request samples with custom headers and with Basic and Bearer support?

[2017-06-21 15:11] #5 closed

[2017-06-21 15:30] roman-ponomarenko opened #6 "Does HttpClient support multipart uploads?"
@bryanmacfarlane  Does HttpClient support multipart uploads? If so please provide an example.

[2017-06-23 15:00] #6 closed

[2017-09-04 17:07] asranja opened #9 "[Feature Request] - Retry support in HttpClient"
As part of the HttpClient, we were looking for a feature which enables us to retry the Http calls in case of specific errors (ex: 502 Bad Gateway or 504 Gateway Timeout).

[2017-09-14 20:32] omeshp opened #10 "Expose handlers to be used by clients."
We should expose handlers at https://github.com/Microsoft/typed-rest-client/tree/master/lib so that they can be used by consumers. Instead clients currently need to copy them like in vso-node-api https://github.com/Microsoft/vsts-node-api/tree/master/api/handlers and item-level-downloader https://github.com/Microsoft/vsts-rm-extensions/tree/master/ItemLevelDownloader/Providers/Handlers

[2017-09-14 21:48] bryanmacfarlane commented on #10
I'll work on this

[2017-11-09 22:24] slavkomae opened #14 "How to get status code from an error response?"
hi -- I'm using the create method to post an object to an external REST api. The response returned can have various status codes (even 300+) that indicate various things -- most of which are not actually errors. However, anything that returns with code not 2xx gets handled in the promise's catch block where the promise is rejected -- and the object I get back has properties "message" and "stack",

[2017-11-10 09:30] osmay88 opened #15 "How to set a cookie for a request"
Hello I'm using you client but I'm having some issues to set the auth cookie in the request

    this.client = new rm.HttpClient('prevent-client');
    var headers = {
        "Content-Type": "application/json",
        "Set-Cookie": this.cookieJar
    };
    var payload = {'cpid': 200};
     var responseStream = await this.client.post(this.host, JSON.stringify(payload), headers);

But the cookies

[2017-11-10 09:35] osmay88 commented on #15
Never mind I just realized I was sending the header as `set-cookie`, should be just `cookie`

[2017-11-10 09:35] #15 closed

[2017-11-17 16:02] stephenmichaelf opened #16 "Add back NTLM"

[2017-11-17 16:03] stephenmichaelf opened #17 "Add tests beyond samples"
We currently have samples of how to use the code but should also add unit tests.

[2017-11-17 17:31] stephenmichaelf commented on #17
For both HttpClient and RestClient.

[2017-11-20 11:36] bryanmacfarlane commented on #16
Support was lost in latest version ...

[2017-11-20 11:40] bryanmacfarlane commented on #14
I will fix this.  Thanks for the suggestion.

On a related note, there is a question whether some non error codes should even throw.  Note that we also just added 3xx redirect supports so that's out of the mix.

Thoughts?

[2017-11-20 11:46] bryanmacfarlane commented on #3
Fixed.  Thanks for reporting

[2017-11-20 11:46] #3 closed

[2017-11-20 11:48] bryanmacfarlane commented on #2
I still can't repro.  Can you answer the questions above?

Please retry with latest code, node and read contribution guide.  If you're still blocked, we can re-open and dig further.

[2017-11-20 11:48] #2 closed

[2017-11-20 12:43] stephenmichaelf commented on #9
We have tried to be consistent with .NET library implementations. I believe HttpClient does not support retrys, users have to code it themselves. @bryanmacfarlane are you OK staying with .NET on this?

NOTE: We just merged a change to allow redirects for some 3XX codes.

[2017-11-20 15:05] stephenmichaelf commented on #9
Discussed offline, we are going to push this to consumers like .NET does. Thank you for the suggestion!

[2017-11-20 15:05] #9 closed

[2017-11-20 16:27] bryanmacfarlane commented on #14
Looking at this now.  Note the http client doesn't throw it's pure request / response in all cases.  It's the higher level rest client that does the http request and turns that into a restful object.  So, for example, a 404 will return an object.  As noted above, we recently added 302 support.

What I'm considering:
- Only a 500 throws an exception.  Even in that case, I will add the status code a

[2017-11-20 18:18] peterblazejewicz commented on #14
Bryan, this could be alreayd late to do this, but can the api be aligned to e.g. Fetch API specs in this details?
https://fetch.spec.whatwg.org/#fetch-method
https://github.github.io/fetch/ (polyfill for fetch specs)
Chrome impl for redirects: https://www.chromestatus.com/feature/4614142321229824

[2017-11-20 18:26] bryanmacfarlane commented on #10
Just merged.  https://github.com/Microsoft/typed-rest-client/pull/13

Should go out with the next release in a day or so.

[2017-11-20 18:26] #10 closed

[2017-11-20 19:09] bryanmacfarlane commented on #14
Thanks for all the feedback.  We met and here's where we landed.

This ships an http and rest client.

The http client is a lower level http client.  It does not throw unless something truly exceptional happened.  Even a 500 successfully returns with the promise resolved.

The rest client is a higher level resource client.  200s will be resolved and 3xx redirects will be handled for you by default

[2017-11-20 20:20] baxevanis opened #21 "Support using in a web page"
https://github.com/Microsoft/typed-rest-client/blob/7ce1f4fe3407900f98a23568c7001c9c8fb23468/lib/HttpClient.ts#L11

Sorry if this is the wrong place to add this but when I am trying to use the library in a project I am getting an error saying that the http.globalAgent is undefined.
At that point http.Agent is available but for some reason not the globalAgent.
Commenting this out or setting the max

[2017-11-20 21:00] peterblazejewicz opened #22 "Make explicit reference to httpntlm module [discussion]"
The diff below shows how to use `httpntlm` module as direct, explicit dependency in the project without worrying of correctly meeting MIT license requirements. The change seems to be opaque to implementation (including current tests). Do you think that this could make a project structure cleaner and easier to maintain?

[code]
Thanks!

[2017-11-20 21:05] peterblazejewicz commented on #21
What's your local Node JS version?

[2017-11-20 21:06] peterblazejewicz commented on #16
Do you mean adding it back via NPM? #22

[2017-11-20 21:11] bryanmacfarlane commented on #22
we already went through OSS process, worked with author for compliance to copy.

But, to make sure I understand, this is asserting we pull the full httpntlm (ntlm code along with http functionality we won't use.  We considered that but they we coupled a bit.  Perhaps a PR would make your point better instead of pasting a diff that we can't run.

Note that we have another issue to add back ntlm and

[2017-11-20 21:13] bryanmacfarlane commented on #21
I will take a look at this.

[2017-11-20 21:15] baxevanis commented on #21
Oh sorry thought I had add that :/
`node -v` > `8.9.1`

And here are the dependencies I have (some might not be required as I was trying to resolve the issue and was not sure if I was missing anything!
[code]

[2017-11-20 21:19] bryanmacfarlane commented on #21
hmmm.  I can't repro and global agent has been there forever

https://nodejs.org/api/http.html#http_http_globalagent

I'll try your sample.  Did you create a server @ https://sample-api.dev/ping that returns a resource?

[2017-11-20 21:20] peterblazejewicz commented on #22
@bryanmacfarlane  I've got your point now. I understand the reason why there is a copy of source file directly now (I've checked the file commit history but it is short and simply does not contain relevant bits of information).
I've run a diff on the file content and see the changes you've added, so there is no point of this discussion any longer I think. Thanks!

[2017-11-20 21:20] #22 closed

[2017-11-20 21:20] bryanmacfarlane commented on #21
Also, I see you're trying to use this library in a web page?  Right now, it's only supported to use within a node app.  Perhaps that's why?

[2017-11-20 21:26] bryanmacfarlane commented on #16
No, I mean in the current version of this library ntlm support is not wired up because we switched to async await and we needed to convert some of the callback code to promises.  There's no artificial constraint that it's done via an npm package which also carries an unneeded and couple http library.

[2017-11-20 21:27] bryanmacfarlane commented on #4
@keedo, PRs are welcome.

[2017-11-20 21:29] baxevanis commented on #21
Yes this is a demo api server that returns a json response.
And yes I am trying to use the lib on a web page!

OK this is why then!

Thank you for clarifying and looking into this

[2017-11-20 21:32] bryanmacfarlane commented on #21
Please create an issue tagged with enhancement to suggest making it work from a web page.  For now, I will update the docs / readme to make it clearer that it's only supported within node app.

Would be nice though so I'll look into it :)

[2017-11-20 21:41] bryanmacfarlane commented on #21
morphed this task.  Thanks for the feedback.

[2017-11-20 21:50] bryanmacfarlane commented on #16
More info - httpclient used to be part of node api.  ntlm was added here

https://github.com/Microsoft/vsts-node-api/pull/43/files#diff-a218a7865550fc62c59bb408113064f3

We broke http client out so it can be used in many of our other libs like our tool lib.  When we broke it out, we made it fully async await and ditched call backs.  There was a TODO into this code to re-introduce it but with promi

[2017-11-21 03:46] bryanmacfarlane commented on #14
Fixed. Details here:

https://github.com/Microsoft/typed-rest-client#errors

and

https://github.com/Microsoft/typed-rest-client/blob/master/test/resttests.ts#L38

[2017-11-21 03:46] #14 closed

[2017-11-21 03:48] bryanmacfarlane commented on #4
Note that we're not stripping - the base url is the host portion of the url and then we add the relative paths.  What it should do is if the "base url" has a path portion, it should save that off and then on every request pre-pend to the path given.  Will need a bunch of tests for combinations ...

PRs welcome or I will get to soon.

[2017-11-21 05:45] bryanmacfarlane commented on #14
typed-rest-client@0.14.2 has the fix

[2017-11-21 12:07] kaeedo commented on #4
Created PR for this: https://github.com/Microsoft/typed-rest-client/pull/23

[2017-11-22 13:56] johndouglascm commented on #21
Thanks for your contributions.
I hit this as well - maybe for the same naïve reason.
I'd like fork and build an http client (typed and in typescript) that can (via rollup) transpile down *and* be node compatible.  Write once, run everywhere.  ;)

My efforts floundered on configuring rollup with plugins to pull the node globals along.

[2017-11-30 12:39] nicojs opened #26 "Cannot use the library on linux"
I cannot use this library on linux, because of inconsistent casing of files. Take bearertoken.d.ts as an example, it is importing `'../interfaces`. A file `interfaces.d.ts` does not exist, it should have been including `'../Interfaces'`.

Results in this error:

[code]

[2017-11-30 12:48] bryanmacfarlane commented on #26
I will fix it.

[2017-11-30 12:51] nicojs commented on #26
@bryanmacfarlane thanks! Feel free to use my PR 🤝

[2017-11-30 13:00] bryanmacfarlane commented on #26
Cool.  Will do.  I'll verify today.

[2017-11-30 22:55] #26 closed

[2017-11-30 23:12] bryanmacfarlane opened #27 "enforce node and npm version in make.js"
LTS Node >= 6.12.0 and Npm 5.5.1

[2017-12-01 00:57] bryanmacfarlane commented on #17
https://github.com/Microsoft/typed-rest-client/commit/5fc3aad652c13aa3a2179a1e84e3d19398bb04f3

[2017-12-01 00:57] #17 closed

[2017-12-04 13:31] omeshp opened #29 "Support using custom agent to manage requests."
Currently the request using global node agent for request in some cases and in other cases agent option isn't passed while making the rest api call.

We make a lot of calls to the same host in our tasks, currently these call are leading to create of new sockets,  we want to be able to reuse sockets by setting keepAlive. We also want to throttle these calls by limiting maxSockets on the agent. Also

[2017-12-04 15:21] bryanmacfarlane commented on #4
done

[2017-12-04 15:21] #4 closed

[2017-12-04 15:33] bryanmacfarlane opened #31 "add npm run buildtest (make.js)"

[2017-12-04 15:34] bryanmacfarlane opened #32 "Set PR CI validation"
One yaml file
3 defs (linux, osx and windows).  Use hosted linux, OSX and VS2017 pools

[2017-12-04 15:35] bryanmacfarlane opened #33 "Update docs"

[2017-12-04 15:36] bryanmacfarlane opened #34 "create issue template"

[2017-12-04 15:38] bryanmacfarlane commented on #32
add to our teams dashboard

[2017-12-04 15:54] stephenmichaelf commented on #27
https://github.com/Microsoft/vsts-tasks/blob/master/make.js#L59

[2017-12-04 18:05] bryanmacfarlane commented on #21
@baxevanis or @johndouglascm - we do take contributions.  even if you don't complete the contribution, outlining your process / requirements (webpack) etc... would help whoever does the work.  Also, if you had partial work completed, referencing those from a fork would help whoever picks up the work.

[2017-12-06 07:14] djKooks opened #38 "Error in running samples"
Hello.
While following on contributing guide, I had an error in `npm run samples`.
[code]
Am I doing something wrong?
My node version is `v8.3.0`, and npm is `5.5.1`.
Thanks.

[2017-12-06 11:39] stephenmichaelf commented on #38
@djKooks Your node and npm versions look good. What OS are you running? Were you able to run build and test without issue?

[2017-12-06 11:49] djKooks commented on #38
@stephenmichaelf Oh, I'm working it on Mac, Sierra. Is it only works on Linux?
Test `npm test` works find.

[2017-12-06 12:41] stephenmichaelf commented on #38
@djKooks It should work on Mac. It looks like it cant find the transpiled samples.js file. If you browse to:

/Users/kwangin/workspace/github_source/typed-rest-client/samples

Do you see samples.js?

[2017-12-06 12:41] stephenmichaelf commented on #38
Also, have you pulled latest off master?

[2017-12-06 16:24] stephenmichaelf opened #39 "Linting and strict compilation"
Look at:
- tslint
- tslint-microsoft-contrib
- strict compile settings

[2017-12-07 02:16] djKooks commented on #38
@stephenmichaelf I'm working in latest version, but cannot find `sample.js` in /samples. There are only `sample.ts`.

[2017-12-07 03:58] djKooks commented on #38
@stephenmichaelf Hello.
It was just a problem that `sample.ts` is not being compiled js before running `node sample.js`. I added `tsc` before running this in #40 .

Maybe if you have better solution or work I did is not fit in project concept, don't hesitate to tell.

Thanks.

[2017-12-07 12:43] bryanmacfarlane commented on #38
This is fixed in a separate set of changes I have locally (fixing a couple other path bugs as well).  This will go in this morning.

[2017-12-07 13:03] bryanmacfarlane commented on #38
fixed with https://github.com/Microsoft/typed-rest-client/commit/68d80682d313817f4db185464686896119b9f5c1

[2017-12-07 13:03] #38 closed

[2017-12-07 13:15] bryanmacfarlane commented on #31
https://github.com/Microsoft/typed-rest-client/commit/085ce6acec4cfc4f305980457ec14c761d4b2f08

[2017-12-07 13:15] #31 closed

[2017-12-07 13:21] #34 closed

[2017-12-07 13:30] bryanmacfarlane commented on #21
@baxevanis - we eliminated the globals usage in the most recent version - 1.0.2 (npm install typed-rest-client@preview).

Does that version work for you?

[2017-12-07 14:09] stephenmichaelf opened #41 "Document node versions that can be run/we test for"

[2017-12-07 14:11] stephenmichaelf opened #42 "Test all versions using make.js"
Automate building and testing against all supported node versions using nvm.

Potentially call it testallversions.

[2017-12-07 19:40] #27 closed

[2017-12-07 23:53] #29 closed

[2017-12-14 08:54] sinmaniphel commented on #21
I've had the issue an can provide an explanation as to why the globalAgent property of the http module is not present in the browser.
This is not directly linked to the nodeJs version.

When using Webpack or Browserify, some core node modules are not natively included, and are replaced by those in
https://github.com/webpack/node-libs-browser

to wit, the http module is actually
https://github.com/

[2017-12-14 09:05] sinmaniphel opened #47 "Please tag released versions"
Once again, thanks for your had work on this library :)

# Request
Could you please, prior to publication of this library on NPM, include in your build script (if any) a tagging of the current version in GIT ?

# Purpose
When using a specify published version of your lib, it would be useful to have a tag on the version tree in order to
- Reproduce the build
- Explore the code at that time for debu

[2017-12-14 12:56] stephenmichaelf commented on #47
Thanks for the feedback @sinmaniphel ! We appreciate it. We will have a discussion about this, adding it makes sense to me :) We are planning to release 1.0 soon so it's good timing.

[2017-12-14 18:47] baxevanis commented on #21
Sorry for the late response.
I finally found some time to test the new version and it works like a charm!!!
I've replaced the previous library I was using and from 2.21mb now the final file went down to 408k!!

Thank you!!

[2017-12-14 18:58] bryanmacfarlane commented on #21
@baxevanis - Awesome!  we're just waiting on ntlm issue then we will release.  The preview outside of that is solid.

If you ever have time to do a PR on a markdown file for using it in a web page, that would be awesome.  But I'll get to it if you don't :)

Thanks

[2017-12-14 23:21] bryanmacfarlane commented on #21
Closing since it works now

[2017-12-14 23:21] #21 closed

[2017-12-14 23:22] bryanmacfarlane commented on #16
ready for review?

[2017-12-14 23:28] stephenmichaelf commented on #16
Not yet. My fix didn't work. I found any other network traffic analyzer and I'm going to try and compare the working vs not working versions. The NTLM strings seem to be generated fine and the steps are all happening. I think it's an issue with adding/removing headers(joining objects incorrectly) or with reusing the connection. Continuing to dig.

[2017-12-14 23:32] stephenmichaelf commented on #16
There is a very ugly branch pushed up with a bunch of logging and stuff that I've been testing on.

[2017-12-15 22:59] rawrmaan opened #48 "Difference between this and RESTyped?"
Hey there, so I noticed that this project and my project RESTyped (https://github.com/rawrmaan/restyped) launched at similar times. I'm trying to understand the exact goals of this project and if it might be worthwhile to combine our efforts here.

Any thoughts? Thanks!

[2017-12-16 21:21] bryanmacfarlane commented on #48
This actually started in 2015 as part of the vso node agent (written in node and typescript), which broke out into [vso-node-api](https://github.com/Microsoft/vsts-node-api) and then because we wanted to use in VS Code plugins in VSTS and many vsts task authors were using it outside of the node api (other http calls) we broke it out to keep our tasks light and layered.

It focused on some of the e

[2017-12-16 21:21] #48 closed

[2017-12-16 21:23] rawrmaan commented on #48
Got it. Sounds like our projects are going in pretty different directions. Thanks Bryan!

[2017-12-16 21:35] bryanmacfarlane commented on #48
No problem.  Best of luck!

[2017-12-20 11:27] omeshp opened #49 "Proxy doesn't work when password has url sensitive characters"
### Environment
Node version: 6.x
Npm version:
OS and version:
typed-rest-client version: 0.15.1

### Issue Description
If password has characters like ':'  '\'  proxy doesn't work, since we are url encoding the password at
https://github.com/Microsoft/typed-rest-client/blob/93448b8ffdf5183cddb710d0fde99d7e697026f1/lib/HttpClient.ts#L408

### Expected behaviour
Proxy should work when password has

[2017-12-21 17:31] stephenmichaelf commented on #32
#44

[2017-12-21 17:46] stephenmichaelf commented on #32
YAML file is merged to master and 3 builds are setup. Need verification that the queues are correct.

[2017-12-21 17:52] stephenmichaelf commented on #32
Setup on dashboard:

![image](https://user-images.githubusercontent.com/450490/34268191-cae79e50-e64d-11e7-9aa6-27195b5eca46.png)

Triggers setup for master and PR builds.

[2017-12-21 17:53] #32 closed

[2017-12-27 05:48] TingluoHuang commented on #49
@omeshp we need `encodeURIComponent` because we want to allow proxy password contains reserved chars. `;,/?:@&=+$`

[2017-12-27 06:59] omeshp commented on #49
@TingluoHuang password is sent as a part of header so they shouldn't be URL encoded. Currently reserved characters aren't working with proxy, this fix is to make them work.

[2017-12-28 03:37] TingluoHuang commented on #49
@omeshp Got it. Thanks for finding and fixing this. Changes looks good to me.

[2018-01-11 20:35] stephenmichaelf commented on #42
Discussed offline, we are not going to add this feature.

[2018-01-11 20:35] #42 closed

[2018-01-31 01:51] bryanmacfarlane commented on #16
Done and released in latest 1.0.6

[2018-01-31 01:51] #16 closed

[2018-01-31 01:56] bryanmacfarlane commented on #47
Thank you.

Since we just released 1.0, I started creating a release (and therefore a tag for every release).

https://github.com/Microsoft/typed-rest-client/releases

[2018-01-31 01:56] #47 closed

[2018-01-31 02:02] #41 closed

[2018-01-31 05:52] sinmaniphel commented on #47
Kudos ;)

Le mer. 31 janv. 2018 02:56, Bryan MacFarlane <notifications@github.com> a
écrit :

[2018-02-06 12:16] leon opened #59 "index.d.ts is empty"
I've installed typed-rest-client via yarn and npm.

The typings for the 1.0.7 release are empty. which causes intellij to freak out.

Did the last deploy not go well?

https://unpkg.com/typed-rest-client@1.0.7/Index.d.ts

[2018-02-06 12:18] leon commented on #59
Sorry my bad. it "is" empty.
Should have looked twice.

[2018-02-06 12:18] #59 closed

[2018-02-06 12:28] bryanmacfarlane commented on #59
Hey, just following up to ensure there's not actually as issue using this in intellij.  The real definitions are in RestClient.d.ts and HttpClient.d.ts.  We could probably eliminate the need the Index.ts since it used to be a way to aggregate old deprecated typings (which are obsoleted now with npm support).  Now it's just an odd file.

[2018-02-13 14:35] stephenmichaelf commented on #33
Based on our discussions I think this is done, let me know if there's more you want added.

[2018-02-13 14:35] #33 closed

[2018-02-13 14:35] stephenmichaelf commented on #39
This will be added but we are deferring the work at the moment to focus on higher priorities.

[2018-02-21 23:26] preston opened #61 "RestClient#post?"
Shouldn't RestClient declare a post method? :)

[2018-02-21 23:49] bryanmacfarlane commented on #61
The http module does: https://github.com/Microsoft/typed-rest-client/blob/master/lib/HttpClient.ts#L157

 POST is the http implementation of how REST does a create.  So create resource does an http post:  https://github.com/Microsoft/typed-rest-client/blob/master/lib/RestClient.ts#L101

[2018-02-22 01:48] #61 closed

[2018-03-06 19:05] baxevanis opened #62 "Support IE11 - target es5"
Hi again,
this is mainly a question/request.

### Issue Description
We currently use the library for browser usage and as we would like to be able and support IE11 the current npm package is not compatible as the compilation is targeted for es2015.
(The issue is that after compilation the files keep the class references which are not supported by IE11).

### Solution
We have tried to work a soluti

[2018-03-06 20:19] stephenmichaelf commented on #62
@bryanmacfarlane

[2018-03-06 20:41] stephenmichaelf commented on #62
1. We would not accept a change to target es5, we don't want to change the target for this project.
2. You are welcome to fork and publish any package (it is open source :)) but please do not name it similarly and ensure that there is no user confusion that your forked package is not supported by Microsoft.

Thanks!

[2018-03-06 21:02] bryanmacfarlane commented on #62
We're going to take another look at this.

[2018-03-06 21:05] bryanmacfarlane commented on #62
I'll investigate

[2018-03-12 11:16] baxevanis commented on #62
Hi @bryanmacfarlane
If there is anything I can do to help out plz let me know!

More than happy to offer any assistance on this

Thank you!

[2018-03-15 14:21] stephenmichaelf opened #63 "Remove shelljs dependency"

[2018-03-23 13:53] dries-2002 opened #65 "Headers on RequestOptions in constructor HttpClient not supported"
### Environment
typed-rest-client version: 1.0.7

### Issue Description
I can instantiate the HttpClient with default headers as follows:

this.httpClient = new HttpClient("myUserAgent", [basicHandler], {headers: {"Accept": "application/json"}});

But it doesn't send these headers to the endpoint. In fact, it doesn't seem to use them at all.

When I send the Accept header as additionalHeader on th

[2018-03-23 14:12] stephenmichaelf commented on #65
Thanks for pointing this out @dries-2002. I checked the code and it looks like we are indeed not passing the headers from IRequestOptions through the requests. I will make a fix for this.

You are unblocked since you can pass them in each request, correct?

[2018-03-23 14:19] dries-2002 commented on #65
Correct.

[2018-04-02 15:40] etiago opened #66 "Empty base URL results in strange behavior with non-default ports"
### Environment
Node version: 8.10
Npm version: 5.8.0
OS and version: MacOS 10.13.3
typed-rest-client version: stable

### Issue Description
Using Typed Rest Client without specifying a base URL does not play well with non-default ports. I was using a node server on port 3000 and without specifying a URL, it tries to send requests as follows:
[code]

### Expected behaviour
I expect it to behave li

[2018-04-02 15:42] etiago commented on #66
I really like the idea behind `typed-rest-client` but as it stands it makes it unusable for a backend+frontend combo unless I hardcode the host where my application is running (which can vary per deployment). Ideally I would like an HTTP client which will just take the current host and pick it up from there when using relative paths.

[2018-04-02 17:25] stephenmichaelf commented on #66
Thanks for reaching out about this!

I want to make sure I understand: you are saying when you have the library running on a machine you want it to use the url of the machine it's running on as the base if you don't pass one in? So it can call in to itself? Can't you dynamically get the URL at runtime and set it before you make your request? Or if you want you could do a PR with the change :)

[2018-04-02 18:46] etiago commented on #66
Now I realize I didn't explain the problem I'm getting as well as I thought I did...!

The issue is specific to running the library as part of an application running in the browser. Specifically I'm seeing it in the context of a React application. I think this is relevant because when running in the browser, if I'm sending a request to `/products`, I expect it to go to `<WHATEVER_DOMAIN_THE_WEBSIT

[2018-04-08 05:00] etiago opened #68 "Dates in return types are deserialized as strings"
### Environment
Node version: 8.10
Npm version: 5.8.0
OS and version: MacOS 10.13.3
typed-rest-client version: stable

### Issue Description
When using a type for the response which has Date as type for a field, that field ends up being a string, thus violating the type.

### Expected behaviour
If I have a field which is a Date, I expect the deserialization to fail whenever the returned type isn't

[2018-05-07 08:32] cryo75 opened #70 "Build errors, modules not found"
### Environment
Node version: 10.0.0
Npm version: 5.6.0
OS and version: Windows 10
typed-rest-client version: 1.0.7

### Issue Description
Created a new Angular 6 project, added typed-rest-client.
Created a component which uses NtlmCredentialHandler and HttpClient and compiled. I get the errors below.

### Expected behaviour
No errors should occur on build.

### Actual behaviour
The following erro

[2018-05-07 13:14] stephenmichaelf commented on #70
Could you try downgrading Node to 9.x.x? We had seen bugs last week with Node 10.0.0 that they were investigating.

[2018-05-07 13:30] cryo75 commented on #70
I've tried 9.11.1 and 8.11.1 (the receommended version). I still get the same build errors. Are there any other librariies that I need to install locally?

[2018-05-08 12:02] stephenmichaelf commented on #70
It should be fully self contained, I assume you ran npm install? Is the code accessible in a repo somewhere? I can take a look.

[2018-05-08 12:15] cryo75 commented on #70
Here's the link to the source:
https://1drv.ms/u/s!AhG37UfEsI26hMsS8wy6NmYx2DsVQQ

[2018-05-08 12:25] stephenmichaelf commented on #70
I pulled the code and ran:

npm install
npm run build

And it seems to have worked fine.

What steps are you following? Perhaps try to delete the package-lock.json and build again?

[2018-05-08 12:31] cryo75 commented on #70
Umm I commented out the code that was giving the errors.  Place this code in login.service.ts:

`import { HttpClient, HttpHeaders } from '@angular/common/http';
import { Injectable } from '@angular/core';

import * as hm from 'typed-rest-client/Handlers';
import * as httpm from 'typed-rest-client/HttpClient';

@Injectable()
export class LoginService {
    constructor(private http: HttpClient) {}

[2018-05-08 13:03] stephenmichaelf commented on #70
I think this is related to WebPack, see [here](https://github.com/request/request/issues/1691). Will keep digging.

[2018-05-14 09:10] cryo75 commented on #70
Any ETA on how to get this to work?

[2018-05-14 12:17] stephenmichaelf commented on #70
Will take another look today.

[2018-05-14 13:29] stephenmichaelf commented on #70
It looks like issues with Angular 6, see [here](https://github.com/angular/angular-cli/issues/9827) for more context. I don't think this is an issue with the library but a dependency issue with Angular that you are seeing manifested in a reference to this lib. Perhaps follow the directions from that thread or try a different version of Angular.

[2018-05-14 16:48] cryo75 commented on #70
This is the answer I got from the Angular dev team:
[https://github.com/angular/angular-cli/issues/10844#event-1624981900](url)

Can something be done that this library works in the browser?

[2018-05-18 12:41] stephenmichaelf commented on #70
Let me investigate this, I think we would like the library to be usable in the browser as long as it's not too cumbersome to do so.

Adding @bryanmacfarlane for visibility.

Will look into this today.

[2018-06-07 13:20] alvaroc1 commented on #66
@etiago Why not use the following?
[code]
I personally prefer it explicit.

[2018-07-05 12:30] mmajcica opened #71 "Large file download"
Would you be so kind to provide us an example on how to efficiently download a large file with the http client?

It may sound trivial as a question, however for someone starting with Node and TS, aiming to build an efficient build task, this could be very useful.

Thanks

[2018-07-05 12:35] bryanmacfarlane commented on #71
https://github.com/Microsoft/typed-rest-client/blob/master/test/httptests.ts#L85

The key is it pipes a stream to a file (or another stream) so matter how large the file is, it will stream it chunk by chunk.

[2018-07-05 12:37] bryanmacfarlane commented on #71
Closing since question answered.  Let us know if you have issues.

[2018-07-05 12:37] #71 closed

[2018-07-05 12:37] mmajcica commented on #71
Thanks @bryanmacfarlane I'll try this right away!

[2018-07-05 12:39] bryanmacfarlane commented on #71
The other key is the server - hopefully it's streaming the contents but most should.  Most servers don't timeout out as long as the stream is moving data.

[2018-07-05 12:39] bryanmacfarlane commented on #71
NP :)

[2018-07-09 11:12] nize commented on #65
I have been trouble-shooting for an unreasonable amount of time too due to this bug :). Is there any plan to fix it?

[2018-07-09 11:35] bryanmacfarlane commented on #65
Yes, we will fix shortly.  We also take PRs but let us know soon if you're interested.

[2018-07-09 17:27] stephenmichaelf opened #72 "Replace httpbin with nock"
Investigate replacing httpbin requests with Nock.

https://github.com/nock/nock

Would give us more control. Easier to test authentication too?

[2018-07-10 17:18] mootrichard commented on #72
I would definitely agree with this. I have been attempting to tinker with removing underscore as a dependency and keep running into issues with running the tests. I keep getting somewhat random 503 errors from httpbin.

[2018-07-10 18:12] stephenmichaelf commented on #72
Thanks for the feedback Richard, much appreciated. I was seeing 503s yesterday too.

I will take a look at integrating Nock tomorrow.

[2018-08-09 23:01] icalvo opened #74 ""TypeError: Cannot read property 'resolve' of undefined" when using React"
The simplest example failed this error. After debugging I found that `lib/Utils.js` has the failing call: `path.posix.resolve(base.pathname, resultantUrl.pathname)`; but `path.posix` is undefined with my setup. This setup is basically a React web app (meaning that the code is executed on the browser VM rather than by Node), on a Windows 10 box, if that makes a difference. I've simply replaced the

[2018-08-10 14:16] stephenmichaelf commented on #74
Thanks I will take a look! We haven't fully validated using the lib in the browser.

[2018-08-19 17:28] mitchcapper commented on #70
Like the library but certainly would like it to be more browser/client friendly:)

[2018-09-10 18:50] #72 closed

[2018-09-10 19:49] zielinskikamil opened #78 "No example of how to setup client using proxy"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 8.9.4
Npm version: 5.6.0
OS and version: MacOS High Sierra
typed-rest-client ve

[2018-09-11 13:05] #66 closed

[2018-09-11 13:06] stephenmichaelf commented on #78
Thanks for the feedback @zielinskikamil We will add an example.

[2018-09-12 16:51] stephenmichaelf opened #81 "REST client needs to expose HEAD"
The HTTP client does, we need the REST one to also. It will be consumed in the node api.

[2018-09-12 20:04] #81 closed

[2018-09-12 20:04] stephenmichaelf commented on #81
We are going to handle this in generation for the node api.

[2018-09-12 20:08] damccorm commented on #81
@stephenmichaelf Do you think this is worth having for other users of the library? If not I'll close my PR, but its a pretty straightforward change I think.

[2018-09-13 01:51] damccorm commented on #81
Ok, that makes sense, I'll close the PR.

[2018-09-13 03:04] bryanmacfarlane commented on #74
@damccorm - using in the browser / react is a good scenario

[2018-09-13 03:06] bryanmacfarlane commented on #68
@damccorm - good issue.  think through compat on potential fixes.

[2018-09-13 20:16] bryanmacfarlane commented on #74
A simple web example would be great as well

[2018-09-27 14:54] damccorm opened #87 "Propogate headers in RestClient's IRestResponse"
### Environment
Node version:
Npm version: 8.11.4
OS and version: Windows 10
typed-rest-client version: 1.0.9

### Issue Description
Currently, in RestClient, calls to the public functions all receive a httpm.HttpClientResponse object which contains headers but return a promise of an IRestResponse object which does not contain headers.

### Expected behaviour
IRestResponse should contain headers

[2018-09-28 12:37] #78 closed

[2018-10-01 15:32] #68 closed

[2018-10-03 15:52] damccorm commented on #70
I think Browserify might be the solution here - you could try:

1. Create a nodejs file that you want to run in the browser
2. Include whatever modules you need with 'require(typed-rest-client/abcModule)'
3. [Run browserify](http://browserify.org/) on that file
4. Include the resulting bundle as a script in your html file.

[2018-10-04 01:39] Jungwoo-An opened #89 "What use var in es2015?"
I think should use const instead of var.

[ntlm.ts](https://github.com/Microsoft/typed-rest-client/blob/master/lib/handlers/ntlm.ts#L8)

[2018-10-04 12:31] damccorm commented on #89
Yeah, both _ and ntlm should probably be const. It won't break anything either way, but its good practice to have them as consts. Do you want to submit a pull request for this?

[2018-10-04 16:54] damccorm commented on #62
Ok, after talking this over a little more, I think we're going to hold off on this for now. We may move forward with this in the future, but if we do we want to put forth a more focused effort with more testing/sample support. If this is an issue for you right now, we recommend forking this repo and copying over PR #84.

[2018-10-04 19:52] damccorm opened #90 "Add nock tests for handlers"
Should test all of them, but especially NTLM since it doesn't do preauth and is pretty fragile

[2018-10-05 01:17] Jungwoo-An commented on #89
Yes. I do

[2018-10-05 12:30] #89 closed

[2018-10-08 14:56] damccorm opened #92 "NTLM options need to all be specified"
Right now if ntlmHandler's workstation and domain aren't specified, calls to ntlm.createType1Message (and maybe other methods) fail. They work if workstation and domain are specified, even if they're set to empty strings.

Discovered this while investigating https://github.com/Microsoft/azure-devops-node-api/issues/172

FYI - [this](https://github.com/Microsoft/typed-rest-client/blob/c5d6b7f852ddb

[2018-10-09 18:34] stephenmichaelf commented on #92
Are you thinking this might be the reason people are having failures?

[2018-10-09 18:35] #92 closed

[2018-10-09 18:37] damccorm commented on #92
Potentially - I was having issues and changing this fixed it for me. I asked about it in the thread yesterday, we'll see what people say. Regardless, probably makes sense to release this patch and upgrade node-api's dependency because this definitely _can_ cause errors.

[2018-10-17 13:28] damccorm commented on #87
@wham any update on this? Are you still looking for a contribution?

[2018-10-29 09:21] mmajcica opened #96 "RestClient additionalHeaders check"
In the rest client there is a check if additional headers are specified.

https://github.com/Microsoft/typed-rest-client/blob/7186708f6f5ed96c6c5ca204405915595d5b2149/lib/RestClient.ts#L171

In case user specifies a custom Content-Type header (necessary at example in case we are using uploadStream to upload a file via mutipart/formdata standard [(RFC 2388](https://www.ietf.org/rfc/rfc2388.txt)) th

[2018-10-29 12:48] damccorm commented on #96
That makes sense to me, if you request a PR I can approve.

[2018-10-29 14:04] #96 closed

[2018-10-29 20:17] mmajcica commented on #96
@damccorm when can I expect to see this in a package on npmjs as it will make my code cleaner?

Thanks

[2018-10-30 01:43] damccorm commented on #96
@bryanmacfarlane can we release 1.0.11?

[2018-10-30 02:05] bryanmacfarlane commented on #96
sure

[2018-10-30 02:07] bryanmacfarlane commented on #96
done

[2018-10-30 02:13] damccorm commented on #96
Thanks!

[2018-10-31 08:20] wesemann opened #98 "Add nock to devDependencies"
I think it would be better to add a mocking library which nock is to the devDependencies, because this should not be deployed on production systems. Other opinions about this?

[2018-10-31 13:04] #98 closed

[2018-11-07 22:00] damccorm opened #103 "CI Broken"
CI failed on the last commit (before my stream of ugly commits trying to diagnose). Looks like it fails on previous commits as well, so I think this is actually an issue with the CI, not the commit.

[2018-11-29 13:08] mmajcica commented on #71
The example you pointed will not work. We are not awaiting for the stream write to finish.

I'll post the example and the solution, as it may help others. Check if you agree.

[code]

In this case we are not awaiting the file stream to finish. I found out that the following approach is necessary:

[code]

If you have a better suggestion, I'll be happy to see it.

What if we implement another metho

[2018-12-04 17:33] #103 closed

[2019-01-22 19:17] mmajcica opened #123 "Failing to read error message"
At the following line, in case of, let's say a 400 response that returns a body that is not JSON content

https://github.com/Microsoft/typed-rest-client/blob/17af59a9fdd8fcc1ed8e60064c46df20bcce6f52/lib/RestClient.ts#L221

the code will fail. This means that no matter which responseProcessor function we specify, it will never be reached.
A better approach would be to just wrap that line in somethi

[2019-01-22 19:22] stephenmichaelf commented on #123
Agreed this seems like a bug.

I am not sure we need to provide the option to allow a custom processor function. It will be either JSON or a string, right? We could try both then fail.

[2019-01-22 19:22] mmajcica commented on #123
That's right. I'll give it a try.

[2019-01-22 19:55] mmajcica commented on #123
In is not trully a bug, but it is expecting the body to always be a JSON response. Unfortunatelly, in this non perfect world, we have API's that do replay JSON objects in case all goes well, however, in case of the exceptions the do just replay the error message as a string in the body.

What I would suggest is to expect response with status code minor then 300 to be a JSON. Meanwhile in case of e

[2019-01-22 20:04] mmajcica commented on #123
In this way we do not break compatibility and add the possiblity to accept the error messages as strings.

[2019-01-24 09:37] Foristkirito opened #125 "http client with binary data response"
### Environment
Node version: 8.12
Npm version: 6.4.1
OS and version: windows 10
typed-rest-client version: 1.0.11

### Issue Description
I want to receive a file from server. server reponse binary file in body, but http client in this module override all non ascii byte to 65533. I figure out that reponse data is converted to string. Any method to deal with binary data?

[2019-01-30 00:36] aasim opened #126 "CredentialHandlers add authorization headers to presigned urls"
### Environment
Node version: v8.12.0
Npm version: 6.4.1
OS and version: Windows 10 Build 17763
typed-rest-client version:

### Issue Description
We have a scenario where we call the artifacts packaging api to download a package file. This api call redirects you to a presigned blobstore url which has the file contents. The problem I am facing is that the headers from the original api call (includi

[2019-01-30 16:03] stephenmichaelf commented on #126
Thanks for letting us know @aasim.

@damccorm Can you take a look? Appears that @bryanmacfarlane added the comment so he may have some context.

[2019-02-06 17:44] damccorm commented on #125
When you call GET from the HttpClient, it should return a ```[HttpClientResponse]``` object, which has a property ```message```. If you call ```message.setEncoding(null)```, I believe you should be able to use something like ```message.onData('data', (chunk: Buffer) => {process data here})``` which will avoid the data being converted to a string. message is a ```Http.IncomingMessage``` object whic

[2019-02-06 20:12] nschonni commented on #39
Probably fine to do TSLint for now, but it looks like ESLint may replace it in the future https://eslint.org/blog/2019/01/future-typescript-eslint

[2019-02-07 11:30] Foristkirito commented on #125
it works, thank you

[2019-02-07 11:30] Foristkirito commented on #125
it works, thank you

[2019-02-07 11:30] #125 closed

[2019-02-11 21:33] damccorm commented on #126
As best I can tell, its not possible to infer whether a url is presigned based on the response. I don't see a ton of great options to handle this, so I'm mostly inclined to use a whitelistish concept like Aasim suggested,  with pattern matching.

[2019-02-13 13:05] damadei opened #132 "How to leverage keepAlive and reuse connections?"
### Environment
Node version:  v10.15.0
Npm version: 6.4.1
OS and version: Win 10
typed-rest-client version:

### Issue Description
I'm making a call to a rest endpoint and no keepalive is in place. Every request opens a new connection. I'd like to understand if keepAlive is supported by the lib and how to force it.

I've tried a global const client but the behavior is the same.

[2019-02-13 14:06] damccorm commented on #132
This should be controlled with the ```keepAlive``` option in [```IRequestOptions```](https://github.com/Microsoft/typed-rest-client/blob/f6a2727a2ed8c1f40745c7204bea6648ff673e3b/lib/Interfaces.ts#L53). This can be passed in to the Rest Client [constructor](https://github.com/Microsoft/typed-rest-client/blob/f6a2727a2ed8c1f40745c7204bea6648ff673e3b/lib/RestClient.ts#L39)

[2019-02-26 18:40] damccorm commented on #132
I'm going to close since I think the question has been answered. If not, please comment and I'll reopen

[2019-02-26 18:40] #132 closed

[2019-02-26 18:41] damccorm commented on #123
Closing since this was resolved by #124

[2019-02-26 18:41] #123 closed

[2019-03-07 17:57] #126 closed

[2019-03-21 11:01] josheplibra opened #138 "Create a form data sample in our samples"
I can't send file
Please support it, thank you.
https://developer.mozilla.org/en-US/docs/Web/API/FormData/Using_FormData_Objects

[2019-03-21 13:50] stephenmichaelf commented on #138
If I understand what you're asking for, can't you just write a POST and setup the headers and data in your code? I am not sure this is something we would encapsulate in the library.

[2019-03-22 05:30] josepoma opened #139 "ERROR in ./node_modules/typed-rest-client/HttpClient.js"
### Issue Description
I import the library into a TS class that I have, the resolution works without problems, at the time of doing the build with webpack, the following error occurs:

### Expected behaviour
 hope to be able to initialize the Restclient object and make my request.

### Environment
Node version: 10.15.3
Npm version: 6.4.1
Webpack version : 4.29.6
OS and version: Windows 10
typed-re

[2019-03-22 10:23] josheplibra commented on #138
Because using `JSON.stringify` for FormData will return a empty object

Sorry If I don't understand
I see at the file https://github.com/Microsoft/typed-rest-client/blob/master/lib/RestClient.ts
function: create
line 110: `let data: string = JSON.stringify(resources, null, 2);`
`resources` is a `FormData`
and result of the data is a empty object

If you need example, please inform me. I will creat

[2019-03-22 13:50] damccorm commented on #138
I think an example would be helpful. Calling `JSON.stringify` should serialize the object into its key value pairs. Regardless, it seems like you might just be better off using the HttpClient and calling POST

[2019-03-22 13:56] damccorm commented on #139
I'm not really an expert in Webpack so I can't give great guidance here, my guess is that its an issue with the configuration though. In particular, `Can't resolve 'fs'` seems pretty odd since `fs` is built into node and we shouldn't really need to do anything to help files find it.

[2019-03-22 18:08] bryanmacfarlane commented on #138
That’s correct.  We have an http layer for things like this.  The higher level rest layer is for operating on json resources.  Posting form data is an http concept and not part of RESTful design

[2019-03-23 13:22] bryanmacfarlane commented on #138
Danny let’s at a minimum create a form data sample in our samples

[2019-03-23 17:35] josepoma commented on #139
Hi @damccorm , It was a missing configuration. I solved it using this link.
[Resolution](https://github.com/jsoma/tabletop/issues/158#issuecomment-398733851)

Thank you

[2019-03-23 19:17] #139 closed

[2019-03-26 09:04] josheplibra commented on #138
I tried with HttpClient but it still not work
Error: `data.on is not a function`

Because this code at HttpClient.ts

        if (data && typeof (data) === 'string') {
            req.write(data, 'utf8');
        }

        if (data && typeof (data) !== 'string') {
            data.on('close', function () {
                req.end();
            });

            data.pipe(req);
        }

I create

[2019-04-02 17:07] HughAJWood opened #142 "Usable with MVC6 and TypeScript?"
### Environment
Node version: For web
Npm version: 6.9
OS and version: Win10 Enterprise
typed-rest-client version: 1.2

### Issue Description
I read through and although it looks like this could work on web it won't for me because there are dependencies with node.. so it could if I was creating a node project with web inside, but not an mvc project.

Is there any way to make this supportable, or i

[2019-04-02 17:54] damccorm commented on #142
Could you try adding the following to your webpack config file?
[code]

This should allow you to compile this project, see [here](https://webpack.js.org/configuration/node/) for why. You may actually need to use 'mock' instead of 'empty', I'm not 100% sure how that works.

Note that regardless, we haven't validated [proxy](https://github.com/Microsoft/typed-rest-client/blob/bdd88a921c2b5d27ff6cdcf

[2019-04-02 18:26] HughAJWood commented on #142
It doesn't appear compatible with this at all, the errors look like legitimate errors on the surface but after a careful step through them they appear to be erroneous. To highlight:

`TS2683: 'this' implicitly has type 'any' because it does not have a type annotation.`

I presume this fix it to create an empty object of time [Object string] to take the place of the missing construct. However somet

[2019-04-02 18:34] damccorm commented on #142
That error seems to be from `resthandler.ts` which isn't part of this library. To be honest, I'm not completely sure I understand your comment either.

Here's a [stack overflow issue](https://stackoverflow.com/questions/48007891/ts2683ts-this-implicitly-has-type-any-because-it-does-not-have-a-type-ann) that has a similar error, I'd guess you're doing something similar? Regardless, I don't think th

[2019-04-02 19:12] HughAJWood commented on #142
'this' wasn't even in that file.

However after restarting visual studio this strange behavior vanished and that node:{..}construct now allows for a build. No other changes.

Thank you.

[2019-04-02 19:39] damccorm commented on #142
Great! I'm going to close here, if there's anything else you need just comment here and I'll reopen

[2019-04-02 19:39] #142 closed

[2019-04-08 05:21] jainr1 opened #144 "How to provide connection timeout setting with Client"
### Issue Description
I was looking to set a connection timeout setting with rest client, there is an option to select socket timeout but need the option to select the connection timeout as well.

[2019-04-08 12:22] stephenmichaelf commented on #144
According to this:

https://github.com/nodejs/node/issues/5757

The timeout we have should handle it. Please reopen if this doesn't meet your needs.

[2019-04-08 12:22] #144 closed

[2019-04-09 12:22] #87 closed

[2019-04-12 18:25] Kinrany commented on #5
Did you find them?

https://xkcd.com/979/

[2019-04-12 18:42] damccorm opened #145 "Remove duplicate definition of IRequestOptions."
Somehow this got added to the [RestClient](https://github.com/Microsoft/typed-rest-client/blob/d108cf34f239ebdbb4952184b01dd5d59c7359ab/lib/RestClient.ts#L14) and [Interfaces](https://github.com/Microsoft/typed-rest-client/blob/d108cf34f239ebdbb4952184b01dd5d59c7359ab/lib/Interfaces.ts#L44) code. Even worse, they're different.

We might not be able to kill this immediately due to back compat, but

[2019-04-12 18:46] damccorm commented on #5
@Kinrany Not sure if we have samples that illustrate this, but custom headers can be passed in [here](https://github.com/Microsoft/typed-rest-client/blob/d108cf34f239ebdbb4952184b01dd5d59c7359ab/lib/RestClient.ts#L19).

So you would set this up by doing something like:

[code]

[2019-04-12 20:04] Kinrany commented on #5
@damccorm thanks :D

[2019-04-15 11:43] stephenmichaelf commented on #145
Do we know which one is used more often and where?

FWIW I normally modify the one in the interfaces file.

[2019-04-15 11:45] stephenmichaelf commented on #70
Closing this due to inactivity, please reopen if it's still an issue.

[2019-04-15 11:45] #70 closed

[2019-04-15 13:11] damccorm commented on #145
The one in the interfaces file is used for the client constructors, the one in the RestClient file is used for the operations (get/post/etc...). They're both exported though

[2019-04-15 14:31] stephenmichaelf commented on #145
Maybe having two isn't terrible and we just need to rename.

[2019-04-15 14:33] damccorm commented on #145
Yeah, definitely an option. I think that might be the best move as well. Regardless, that's still breaking though.

[2019-04-15 22:01] bryanmacfarlane commented on #145
I think we should converge to the interfaces one ( that’s official ) and bump by a minor version

[2019-04-16 14:12] damccorm commented on #145
I'm not sure I agree - right now they're doing different things (the interfaces one for constructors, the RestClient one for REST operations) and they actually contain a completely non-overlapping set of fields; it seems odd to me to converge to one definition and makes more sense to just rename (I'd be inclined to rename the interfaces one to something like `ClientOptions`).

It also seems to me

[2019-04-22 14:53] debben commented on #87
I see a contribution was accepted, but is there any timeline for when this will be released?

[2019-04-22 18:13] damccorm commented on #87
@bryanmacfarlane can we release?

[2019-04-29 14:51] vmasule opened #146 "Add cert support docs"
Error while calling on-premise endpoint. { Error: self signed certificate in certificate chain
    at TLSSocket.onConnectSecure (_tls_wrap.js:1055:34)
    at TLSSocket.emit (events.js:182:13)
    at TLSSocket.EventEmitter.emit (domain.js:442:20)
    at TLSSocket._finishInit (_tls_wrap.js:635:8) code: 'SELF_SIGNED_CERT_IN_CHAIN' }

[2019-04-29 14:58] damccorm commented on #146
I don't think this issue is actually related to this library, so I'm not sure how to best provide guidance. With that said, I think its probably the same issue discussed [here](https://stackoverflow.com/questions/12180552/openssl-error-self-signed-certificate-in-certificate-chain) and the conversation there may be helpful

[2019-04-29 15:09] vmasule commented on #146
@damccorm Thanks for quick reply. Actually I have tries with that but unfortunately for development we have to use self sign certificate. I also tried `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";`  but that works with `request` package but doesn't works with `typed-rest-client`.

[2019-04-29 15:13] vmasule commented on #146
Sorry when `process.env.NODE_TLS_REJECT_UNAUTHORIZED = "0";` it's going through my proxy then I am getting `Error: socket hang up`. I will try fixing this proxy issue. Thanks for your help.

[2019-04-29 15:27] vmasule commented on #146
@damccorm How to configure request timeout? Is there any documentation for this lib?

[2019-04-29 15:30] damccorm commented on #146
You can use [`socketTimeout`](https://github.com/Microsoft/typed-rest-client/blob/d108cf34f239ebdbb4952184b01dd5d59c7359ab/lib/Interfaces.ts#L46) which is part of `IRequestOptions`. That gets passed in as an [arg to the constructor](https://github.com/Microsoft/typed-rest-client/blob/d108cf34f239ebdbb4952184b01dd5d59c7359ab/lib/RestClient.ts#L41)

[2019-05-02 17:37] j0hnwhyte commented on #146
Hi, the README mentions that the self-signed certificate support is part of the library, but I can't even find a mention in the code nor in the examples. Maybe some documentation could be added, thanks.

[2019-05-02 17:52] damccorm commented on #146
Sure, it looks like we did add this support a while back. I think all you need to do is include your cert info as part of the requestOptions and pass it to the constructor - https://github.com/Microsoft/typed-rest-client/blob/d108cf34f239ebdbb4952184b01dd5d59c7359ab/lib/Interfaces.ts#L49

I'll look into adding some samples when I get the bandwidth

[2019-05-02 18:22] j0hnwhyte commented on #146
Hi, and thanks for the quick answer. To be honest I found the configuration parameter shortly after posting, but still there's no flag to disable the self-signing check. The `ignoreSslError` parameter also seems to do nothing.

[2019-05-06 13:02] damccorm commented on #146
Ok, thanks for the update. I think the best path forward is to use the `NODE_TLS_REJECT_UNAUTHORIZED` environment variable.

With all that said, this issue has made it clear that we could definitely use better docs on this, I'm going to rename this issue to reflect that and leave it open until we have that.

[2019-05-08 14:27] damccorm commented on #87
Sorry, this slipped through the cracks - it has been published.

[2019-05-08 14:28] damccorm commented on #87
Sorry, this slipped through the cracks a little bit - it has been published now.

[2019-05-09 07:14] nicojs opened #147 "Document releases"
Hi 👋 . Thanks for maintaining typed-rest-client.

### Issue Description
Please document releases somehow. It is difficult for library users to keep dependencies up-to-date without it.

In #47 it was agreed that releases would be tagged, However, that seems to have stopped? I can't seem to find the 1.4.0 release: https://github.com/microsoft/typed-rest-client/releases

### Expected behaviour

It wo

[2019-05-09 13:08] damccorm commented on #147
Sure, we've gotten out of sync on this but agreed it would be good for us to get back to doing that. I just added a release for 1.4.0, I don't think we need a separate changelog since that info is included in the release info.

[2019-05-10 07:18] nicojs commented on #147
As long as it is kept up-to-date I'm happy. ❤️

[2019-05-10 07:18] #147 closed

[2019-05-11 21:26] strefethen opened #148 "Fetching GZipped content is not supported"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues

Done.

2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v8.7.0
Npm version: v6.7.0
OS and version: OSX v10.13.6
typed-rest-clie

[2019-05-11 21:38] strefethen commented on #148
I've started a PR but prior to completing it I need to get my employers approval for submissions to this repo. :| I'll circle back once that's complete.

https://github.com/microsoft/typed-rest-client/pull/149

[2019-05-24 13:44] #39 closed

[2019-05-24 13:44] #63 closed

[2019-05-28 17:28] dascalos opened #150 "Using credentials of current user to make REST calls"
I'm hoping to find a library where I can make rest calls using the credentials of the currently logged in user.  It looks like with this library, I have to send username/password to do NTLM.

In PowerShell, with Invoke-RestMethod I can use -UseDefaultCredentials to achieve this.

Is this possible with this library, or some other node library?  Thank you.

[2019-05-28 23:52] sylvanaar opened #151 "HTTP Stream Broken By NTLM Authentication"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 10.11.0
Npm version: 6.7.0
OS and version: Mac OSX 10.14.4
typed-rest-client ve

[2019-05-29 14:03] damccorm commented on #150
As far as I know, Node doesn't have a concept of the currently logged in user/credentials. So I don't think so

[2019-05-29 14:17] dascalos commented on #150
Thanks for the response Danny.  Prefer writing TypeScript to PowerShell, so I was hoping something existed.

[2019-05-29 14:56] #150 closed

[2019-05-30 08:26] mmajcica commented on #146
I'm using the ignoreSslError passed in the constructor as part of IRequestOptions parameter and it all works fine.
What would be nice is that the lib could be capable of accessing SChannel as the latest Git client does.

[2019-06-04 11:58] darkdoctor opened #152 "Browser Support"
Hi.

Does this library support browsers, or only node js apps?
I am trying to compile it on angular but failing.
'fs' is missing from the 'Tunnel' lib.

[2019-06-04 12:02] bryanmacfarlane commented on #152
We should fix this and possibly add s sample

[2019-06-04 12:10] xeinebiu commented on #152
@bryanmacfarlane so, the current version is not supported on Angular Apps?

[2019-06-04 12:15] darkdoctor commented on #152
So, the current version is not supported for Angular?

[2019-06-04 12:41] bryanmacfarlane commented on #152
Browsers are supported but this looks like a bug.  Adding a sample would ensure it works in angular and doesn't regress going forward.

[2019-06-04 12:50] xeinebiu commented on #152
ERROR in ./node_modules/typed-rest-client/HttpClient.js
Module not found: Error: Can't resolve 'fs' in 'C:\Projekte\AngularLibrarys\demo\node_modules\typed-rest-client'
ERROR in ./node_modules/tunnel/lib/tunnel.js
Module not found: Error: Can't resolve 'http' in 'C:\Projekte\AngularLibrarys\demo\node_modules\tunnel\lib'
ERROR in ./node_modules/typed-rest-client/HttpClient.js
Module not found: Erro

[2019-06-04 13:21] darkdoctor commented on #152
ERROR in ./node_modules/typed-rest-client/HttpClient.js
Module not found: Error: Can't resolve 'fs' in 'C:\Projekte\AngularLibrarys\eceg\node_modules\typed-rest-client'
ERROR in ./node_modules/tunnel/lib/tunnel.js
Module not found: Error: Can't resolve 'http' in 'C:\Projekte\AngularLibrarys\eceg\node_modules\tunnel\lib'
ERROR in ./node_modules/typed-rest-client/HttpClient.js
Module not found: Erro

[2019-06-04 13:33] damccorm commented on #152
Not sure if this is actually a regression - none of the stuff surrounding tunnel or fs has been touched in a long time, guessing that people have probably just been using webpack to get around it. Should be a pretty simple fix to allow us to not need to do that though.

[2019-06-04 14:34] darkdoctor commented on #152
Webpack is not included anymore within the box of Angular 8, unfortunately.

[2019-06-04 15:10] bryanmacfarlane commented on #152
Let's fix to not need it in the browser

[2019-06-04 15:22] xeinebiu commented on #152
Hi.
Tried from different pc and a simple Angular Project.

ERROR in D:/Work/Web/demo/node_modules/tunnel/lib/tunnel.js
Module not found: Error: Can't resolve 'assert' in 'D:\Work\Web\demo\node_modules\tunnel\lib'
ERROR in D:/Work/Web/demo/node_modules/tunnel/lib/tunnel.js
Module not found: Error: Can't resolve 'events' in 'D:\Work\Web\demo\node_modules\tunnel\lib'
ERROR in D:/Work/Web/demo/node_mo

[2019-06-05 02:47] etay2000 opened #154 "If userAgent is null or not provided it is still added to the headers"
The 'userAgent' param is set in the headers even if it is null or undefined. I would have expected the behavior to be to conditionally add the header only if it is not null.

[2019-06-05 13:03] damccorm commented on #154
The userAgent is a [required field](https://github.com/microsoft/typed-rest-client/blob/5eb9c90a50c730b0c21b78f50e1eb903aa7e8f47/lib/HttpClient.ts#L105) so we should be able to assume that it won't be null/undefined. What's the use case where this is causing problems?

[2019-06-05 14:06] etay2000 commented on #154
I was unable to make calls to a REST service that does not include 'user-agent' in it's 'Access-Control-Allow-Headers' options.
"(Reason: missing token ‘user-agent’ in CORS header ‘Access-Control-Allow-Headers’ from CORS preflight channel)"

[2019-06-05 14:27] damccorm commented on #154
That makes sense. Maybe we can change the signature to accept `string | undefined`. Then below we can check:
[code]

That way we maintain back compat for `''`, but allow for this scenario - does that seem right?

[2019-06-05 14:34] etay2000 commented on #154
LGTM

[2019-06-06 00:27] damccorm opened #155 "Add browser sample"
See #153

[2019-06-06 00:27] #152 closed

[2019-06-12 11:31] nicojs commented on #147
@damccorm the same thing happened for the 1.5 release this week. Would you mind documenting it 😕

[2019-06-17 12:49] damccorm commented on #147
[Done](https://github.com/microsoft/typed-rest-client/releases/tag/1.5.0). Sorry about that.

[2019-06-28 00:16] jokecamp opened #157 "Removing underscore dependency?"
Would you be open to removing the underscore dependency or consider a PR for removing it?

I only see references to it in [ntlm.ts](https://github.com/microsoft/typed-rest-client/blob/master/lib/handlers/ntlm.ts) and it is mostly the functions extend and omit.

[2019-06-28 11:27] stephenmichaelf commented on #157
@jokecamp Is there a specific reason?

For the ntlm code we are generally apprehensive to make modifications unless it's necessary as it's high risk/time consuming to test.

[2019-06-28 13:02] jokecamp commented on #157
Understood. Just curious because I have a use case for deploying as small a project as possible. I know it could be viewed as over-optimization or extra work.

[2019-06-28 13:23] stephenmichaelf commented on #157
Yeah it looks like its about 112KB for the underscore module.

I would say given the risk/reward we wouldn't make the change at this time.

Thanks for your understanding!

[2019-06-28 13:23] #157 closed

[2019-07-08 05:59] FuadAbuSameer commented on #6
any updated ?

[2019-07-08 06:01] FuadAbuSameer opened #158 "can not upload local file to the endpoint"
### Issue Description
Im my normal curl command  i use the option -F "file=@\"test-results.xml\" to upload file to the endpoint (attach a file to jira ticket). Is this possible using this client

[2019-07-08 18:50] vKarter commented on #151
Please fix it, we really need it :)

[2019-07-08 19:39] damccorm opened #159 "Bad error message on timeouts."
When we timeout, we call `socket.end` which errors with `socket.end is not a function`

https://github.com/microsoft/typed-rest-client/blob/db388ca114dffc1e241ae81e6f3b9cd022c5b281/lib/HttpClient.ts#L339

See https://github.com/microsoft/azure-pipelines-tool-lib/pull/55 for discussion

[2019-07-23 22:13] vKarter commented on #151
Removed
`res.readBody().then(()` =>
               resolve(res);
                });`
and leave only resolve(res) helps!

[2019-08-09 17:15] stephenmichaelf commented on #154
@jtpetty could you take a look at this and make sure it's good/add tests? Thanks!

[2019-08-27 13:00] MarkoMei opened #163 "Wrong Host header prevents connections through proxy"
### Environment
typed-rest-client version: 1.0.9 (but the bug exists also in the newest: 1.5.0)

### Issue Description
typed-rest-client uses tunnel 0.0.4 for making connections through a proxy. In that version there is a bug that causes a wrong Host header to be used. That prevents the connection returning "_Error: tunneling socket could not be established, statusCode=403._".

That bug is fixed i

[2019-09-17 18:13] parkerault opened #164 "Project status?"
First of all, thanks for open sourcing this project! I'm just curious what the status of this project is. Is it still being actively maintained? I need to pick a type-safe rest client library for all of our team's SPA projects, and I don't want to use something that's just a wrapper around an older JS library with layers and layers of abstraction. I've been working on a prototype with this library

[2019-09-17 18:15] bryanmacfarlane commented on #164
Yes, it's maintained and actively being used (and depended upon) in many of the azure pipelines tasks, packages and tools.

[2019-09-17 18:19] parkerault commented on #164
Holy crap, that was fast! Thanks for answering! :)

[2019-09-17 18:19] #164 closed

[2019-09-17 18:19] bryanmacfarlane commented on #164
:)

[2019-09-17 18:27] #154 closed

[2019-09-25 16:41] JLLeitschuh opened #165 "Forbid Redirect Downgrade from HTTPS to HTTP"
## Feature Request

If an HTTPS client request gets downgraded by a redirect to HTTP by some host in the redirect chain, users should have the option to forbid this downgrade in the configuration of the `HttpClient`.

## Impacted Code

https://github.com/microsoft/typed-rest-client/blob/c99dbbeba106d4ca59b62a320923eed9b9a6c223/lib/HttpClient.ts#L239-L256

There is no check to see if the new redire

[2019-09-27 22:05] Jacksondr5 opened #166 "Consider Certs In NODE_EXTRA_CA_CERTS"
## Feature Request
Consider certificates referenced by [NODE_EXTRA_CA_CERTS](https://nodejs.org/api/cli.html#cli_node_extra_ca_certs_file)

## Impacted Code
https://github.com/microsoft/typed-rest-client/blob/c99dbbeba106d4ca59b62a320923eed9b9a6c223/lib/HttpClient.ts#L124-L142

A check for the env variable should probably happen around here.  I'm not sure if it would be better to have the ICertCon

[2019-09-30 09:40] sergeykochanov opened #167 "Corrupted UTF-8 data in http response"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 10.15.0
Npm version: 6.4.1
OS and version: Ubuntu 16.04.5
typed-rest-client ver

[2019-10-04 23:57] bryanmacfarlane commented on #167
Re-opening since the fix caused CI to fail (which wasn't working when the PR was created).  Please try another PR.

[2019-10-06 16:37] sergeykochanov commented on #167
My bad - I copied JS code from a patch instead of TS. Fixed.

[2019-10-08 14:35] nitish-patel opened #171 "303 Redirect Failure"
An issue where 303 SeeOther redirects weren't being followed had been raised and resolved in 2018 - https://github.com/microsoft/typed-rest-client/pull/75

But I'm finding that Rest Client requests I make that involve 303 redirects are coming back as failed requests as opposed to them being followed automatically.

[2019-10-08 14:39] damccorm commented on #171
A couple questions:
1) What version of the library are you using?
2) Could you share a repro? Our tests seem to be working fine here, so I'm able to use those to get a repro that works as expected with a 303
3) Could you try hitting `'https://httpbin.org/redirect-to?url=https%3A%2F%2Fhttpbin.org%2Fget&status_code=303'` and seeing if it redirects correctly in that case?

[2019-10-08 18:49] bbenoist opened #172 "Support adding query parameters"
I found no _official_ way to pass query string parameters in a RestClient request.

I would have expected something like:

[code]

where queryParameters would be of type:

[code]

Of course, `typed-rest-client` would have the responsibility of transforming queryParameters to a proper URL query parameter in the correct format.
e.g. `{ lang: "en", terms: ["foo bar", 4.2, "baz"] }` would become `?lan

[2019-10-10 14:33] JLLeitschuh commented on #165
@bryanmacfarlane Do you have the cycles to implement this change and roll it upstream to the actions repository?

[2019-10-11 19:25] #165 closed

[2019-10-25 17:33] #167 closed

[2019-10-29 21:37] TylerLeonhardt opened #177 "Update `tunnel` dependency"
### Issue Description
`typed-rest-client` [pins to version `0.0.4` of `tunnel`](https://github.com/microsoft/typed-rest-client/blob/master/package.json#L43).

`tunnel`'s [current latest is `0.0.6`](https://www.npmjs.com/package/tunnel). In `0.0.6` they started excluding their tests ([which includes a ton of `.pem`s](https://github.com/koichik/node-tunnel/tree/master/test/keys)) from the npm packag

[2019-11-03 17:52] a8775 opened #178 "The http response in RestClient._processResponse() is not properly handled when the message body is not JSON or empty"
### Environment
Node version:  any
Npm version: any
OS and version: any
typed-rest-client version: master commit f44d24e394befaf27b1a62e97f5187f9eb459efb

### Issue Description
The http response in `RestClient._processResponse()` is not properly handled when the message body is not JSON or empty.

### Expected behaviour
The issue is that code can not properly handle the response when the result is

[2019-11-21 05:48] kiikura commented on #167
I have the same problem.
I would like to use the fixed version. When would it be published on npm?

[2019-12-18 10:05] hamzahejja commented on #172
@stephenmichaelf I'm willing to pick up this issue and work on it, I have read the Contribution guide but needed to ask, should I be added/identified as Contributor to push to the remote origin (Or else i'd receive 403 error or **Access Denied**

[2019-12-18 14:47] damccorm commented on #172
@hamzahejja for security reasons we probably can't give you contributor access, but you can create a pull request from a fork - see instructions at https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request-from-a-fork

[2019-12-18 15:01] hamzahejja commented on #172
@damccorm I see, will do that then, Thanks!

[2019-12-18 23:16] hamzahejja commented on #148
I have picked up this issue, PR #189 Just delivered to integrate a solution.

[2019-12-19 15:29] #148 closed

[2019-12-21 17:18] hamzahejja commented on #90
@damccorm I'm able to pre-plan the unit tests for the Basic, Personal Access Token and Bearer Token Authentication schemes, as they all perform pre-auth by Setting the `Authorization` header on the outgoing request. However, couldn't imagine how to carry-on the test for the NTLM auth, especially as it involves CLIENT-SERVER Handshaking and is quite complex compared to other schemes, So i bumped in

[2019-12-23 10:55] hamzahejja commented on #90
@damccorm I've managed to pre-plan and setup the needed tests for **_Basic, Bearer and Personal Access Token (PAT)_** Authentication schemes, by setting nock to match the `Authorization` header on the outgoing HTTP request. However, I'm wondering how to carry out the test for the NTLM Authentication scheme, as it is more complex, doesn't perform any Pre-auth step on the request and involves Client

[2019-12-30 15:51] damccorm commented on #90
@hamzahejja the NTLM one is definitely the hardest - I think you should still be able to do it more or less the same way though, right? You would just need to mock multiple sets of HTTP requests with different parameters, which nock _should_ allow.

With that said, feel free to open a PR on the other 3 handlers if you have them - happy to get those merged in and we can try to work on the ntlm one

[2019-12-30 19:50] hamzahejja commented on #90
@damccorm I have just had another look into the tests which currently exists,  **PAT and Basic** Authentication schemes have nock tests set for them:
_Basic Auth_: https://github.com/microsoft/typed-rest-client/blob/master/test/units/httptests.ts#L72-L99
_Personal Access Token (PAT)_: https://github.com/microsoft/typed-rest-client/blob/master/test/units/httptests.ts#L130-L160

Which leaves out the

[2019-12-30 20:01] damccorm commented on #90
Yep, that sounds right!

[2019-12-30 20:47] jtpetty commented on #166
@Jacksondr5 - I think the issue is that by default, the agent uses Node 6 and NODE_EXTRA_CA_CERTS was added in Node 7.3.

Can you try setting the environment variable AGENT_USE_NODE10=true for your job and then try using the NODE_EXTRA_CA_CERTS variable?

[2019-12-31 10:22] hamzahejja commented on #90
@damccorm
I have set the following nock test for the NTLM Authentication Handler, depending on the example given **_BOTTOM OF PAGE_**, with the following settings:
`username`: **Zaphod**
`password`: **Beeblebrox**
`workstation` (i.e. hostname): **LightCity**
`domain` (i.e. NTDomain): **Ursa-Minor**
[code]
The issue arises when using the NTLM Authentication Handler with HTTP Client, and was noticed

[2019-12-31 19:31] hamzahejja commented on #90
@damccorm I've found this open source lib for NTLM Authentication with NodeJS: [node-ntlm, NTLM authentication and Samba LM/NT hash library](https://github.com/Node-SMB/ntlm)

Tests for the module cover the [example](https://www.innovation.ch/personal/ronald/ntlm.html), and returns matching values indeed!
![image](https://user-images.githubusercontent.com/49674728/71632008-bbcd8d80-2c14-11ea-9cf9-

[2020-01-02 15:55] damccorm commented on #158
Sure - you can see what curl is doing [here](https://curl.haxx.se/docs/httpscripting.html#File_Upload_POST), but basically its just sending a POST with a form-data content type, so you should be able to do the same thing with this library. We have an open enhancement to add an example of this (#138), but in the meantime you can read up on structuring the request here - https://www.w3.org/TR/html40

[2020-01-02 18:15] damccorm commented on #90
That sounds good to me. My one request here - for auditability/security, I'd rather not pull their module directly from npm since its not a trusted author - could you copy in only the required functions and attribute them to the author (which should be fine as long as we include [this attribution](https://github.com/Node-SMB/ntlm/blob/126971e45ad4a84025c13291eddfb32f1288c5e5/lib/ntlm.js#L2)). That

[2020-01-02 18:26] hamzahejja commented on #90
@damccorm Yeah totally agree on that as well, just what I've thought too, to just copy in the files that we'll be using through the NTLM authentication handler module and include an attribution to the author's work. I'm really curious why [Sam Decrock's NTLM lib](https://github.com/SamDecrock/node-http-ntlm/blob/master/ntlm.js) isn't making it work, although in means of Github Stars and People usi

[2020-01-03 13:26] hamzahejja commented on #90
Found another example to follow-on and ensure correct authentication headers/codes are produced for NTLM Authentication handler while establishing the C-S handshake, find it here: [NTLM HTTP Authentication
](http://davenport.sourceforge.net/ntlm.html#ntlmHttpAuthentication)

[2020-01-06 08:16] jalajmsft commented on #177
+1 facing this issue in azure pipeline tasks. [Reference link](https://dev.azure.com/mseng/AzureDevOps/_workitems/edit/1626713)

[2020-01-07 19:06] Jacksondr5 commented on #166
@jtpetty Thanks for the reply.  We'll try that environment variable out and let you know how it works

[2020-01-09 15:36] jtpetty commented on #158
Closing since the question appears to be addressed. Please feel free to open a new issue if it is not addressed.

[2020-01-09 15:36] #158 closed

[2020-01-10 19:46] Jacksondr5 commented on #166
@jtpetty Unfortunately, that didn't seem to have any effect.  We're still seeing certificate errors.

[2020-02-11 16:22] blackbaud-brandonhare opened #198 "Rest client not minifying request body"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 12.14.1
Npm version: 6.13.4
OS and version: Mojave 10.14.6
typed-rest-client ve

[2020-02-17 08:00] AnthonyDiSanti opened #199 "Make RestClient._processResponse protected instead of private"
typed-rest-client version: 1.7.2

I'd like 404s to throw, as I'm sure many other consumers of this library would.  This would be simple to do in a derived class if we could override _processResponse.  Furthermore, this would allow derived classes to implement additional methods while leveraging the existing response processing.

[2020-02-17 08:22] AnthonyDiSanti commented on #177
Can this issue be closed now that #195 has been merged?

[2020-02-17 20:13] #177 closed

[2020-02-28 09:20] AnthonyDiSanti commented on #74
I believe this issue can be closed.  PR #86 addressed this issue, adding a functional ReactApp sample and adding a fallback for `path.posix` in Util.ts (`pathApi = path.posix || path;`).

[2020-02-28 09:29] AnthonyDiSanti commented on #90
I think this issue can be closed now that @damccorm has merged #194 .  Does that sound right to you as well @hamzahejja ?

[2020-02-28 14:35] damccorm commented on #90
I think that's right - I'm going to close, if anyone disagrees comment and we can reopen.

[2020-02-28 14:35] #90 closed

[2020-02-28 14:36] damccorm commented on #74
Agreed, I'm going to close - if anyone disagrees just comment and I can reopen

[2020-02-28 14:36] #74 closed

[2020-02-28 14:36] #199 closed

[2020-03-03 23:26] DonMcNamara opened #201 "Redirects using relative URLs are not resolved using base URL"
# Environment
Node version: v12.14.1
Npm version: 6.13.4
OS and version: Ubuntu 18.04.1
typed-rest-client version: 1.7.2

### Issue Description
Redirect URLs are being resolved incorrectly when the redirect location is a relative URL.

### Expected behaviour
Redirect locations that are relative should be resolved using the URL of the current request as the base URL.

### Actual behaviour
The URL i

[2020-03-03 23:26] DonMcNamara commented on #201
I think this is a relatively easy fix. I think we just need to use the url constructor that takes a base argument: https://nodejs.org/api/url.html#url_constructor_new_url_input_base here: https://github.com/microsoft/typed-rest-client/blob/master/lib/HttpClient.ts#L279-L289

I can follow up with a PR soon, but if anyone beats me to it, I won't mind :wink:

[2020-03-06 19:11] #159 closed

[2020-03-06 19:11] stephenmichaelf commented on #201
Thanks for opening this @DonMcNamara ! We happily accept PRs :)

[2020-03-09 18:24] bbenoist opened #202 "Could not get some REST API data because "A 404 will not throw but the result object will be null and the result statusCode will be set""
### Issue Description

As of now, the documentation (and the corresponding code) states that for the REST client:

Because of this design, I couldn't get some information returned by a REST API which I don't own.

### Expected behaviour

I expect the result object to be null only if the response object is not valid JSON.

### Actual behaviour

The result object is null even if the REST server retu

[2020-03-09 18:26] bbenoist commented on #172
@hamzahejja Thanks for your work 😃

@damccorm Can we close this issue?

[2020-03-09 18:32] #172 closed

[2020-03-11 09:02] issacnitin opened #203 ""TypeError: Unknown encoding: us-ascii" on HttpClientResponse.readBody()"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v8.16/v6 LTS
Npm version: 6.9.0
OS and version: Windows 10
typed-rest-client ve

[2020-03-17 17:16] bishal-pdMSFT commented on #203
@damccorm can you please look at this issue. This is blocking rollout of a fix present in latest version of typed-rest-client.

[2020-03-18 12:00] dedreira opened #204 "Version 0.12.0 was proxy ready?"
Hi, this is just a question, I use a tool that has a dependency of this library (version 0.12.0) and I think that's not working properly when the client is behind a http proxy, but I do not find the source code related to this version, can anyone show me where it is? of it not possible, tell me if that version recognizes the configured proxy and uses it with the http requests?

Regards!!

[2020-03-18 12:05] dedreira commented on #204
found it here
https://github.com/microsoft/typed-rest-client/blob/5ce8cd7ae336384bd2d1851f5e845d89885c3d21/lib/HttpClient.ts
https://www.npmjs.com/package/typed-rest-client/v/0.12.0

[2020-03-18 12:05] #204 closed

[2020-03-25 09:22] coddo opened #206 "Cross-domain authenticated requests?"
### Environment
Used inside browser directly.

### Issue Description
This is more of a question, maybe I'm missing something.

Is there a possibility to include cookies into cross-domain requests (XMLHttpRequest)?

I've tried looking into the documentation and also typings, but haven't found anything related to this. Other http clients (axios, fetch etc) offer the possiblity to specify a configura

[2020-03-31 01:43] sanchez commented on #138
I was wondering if this solution has been fixed? I cannot `JSON.stringify` my formdata because it is inspected as empty (something to do with it only containing file data is my guess) and if I try to upload the form data (after casting the type to any) I also get the same issue as mentioned: https://github.com/microsoft/typed-rest-client/issues/138#issuecomment-476533598

Thanks

[2020-04-01 10:23] JonasZ95 opened #208 "deserializeDates tries to parse any string"
### Environment
Node version: 12.16.1
Npm version:  6.13.4
OS and version: Fedora 31
typed-rest-client version: 1.7.2

### Issue Description
If you set deserializeDates to true this will try to parse any value of the type string in a JSON and if successful the value is deserialized as a Date. This breaks applications because the values of some fields are unpredictable. If a username is parseable a

[2020-04-01 12:24] #203 closed

[2020-04-01 16:18] celcius112 commented on #202
I agree with @bbenoist, without a result we do not have access to the actual error message returned with the 404.

[2020-04-02 18:05] jtpetty commented on #166
@mjroghelia - Can you take a look at this one?

[2020-04-03 05:18] MarkoMei commented on #163
Issue fixed by this issue: https://github.com/microsoft/typed-rest-client/pull/195

[2020-04-03 05:18] #163 closed

[2020-04-03 07:34] mmajcica commented on #145
@damccorm what's the status of this? I do have some extra time these days and tackling this would be fun. Is this still of interest? Are any new releases being planned?

[2020-04-03 13:11] damccorm commented on #145
@mmajcica I think I'd only want to do this if we major version the library and I don't think we have any compelling reasons to do that right now. I think this one should hang around as a potential enhancement if we do a new major version, but I don't think we should do anything until then.

[2020-04-09 17:01] #171 closed

[2020-04-09 17:01] #178 closed

[2020-04-09 17:01] #155 closed

[2020-04-09 17:01] #146 closed

[2020-04-09 17:01] #151 closed

[2020-04-09 17:01] #62 closed

[2020-04-14 20:39] hamadycisse opened #213 "Response headers are incomplete."
### Environment
Node version: 13
Npm version: 6.13.7
OS and version:  MacOS Catalina
typed-rest-client version:  1.7.1

### Issue Description
The headers and rawHeaders properties of my http.IncomingMessage do not contains the following headers from the response:

- X-Page-Count
- X-Total-Count
- X-Pages
- X-Page-Size
-

### Expected behaviour
It should be possible to retrieve all the headers from

[2020-04-16 13:03] a8775 commented on #178
The problem is still relevant.

[2020-05-28 13:57] tuwrraphael opened #215 "Environment variable "NO_PROXY" with wildcard causes HttpClient constructor failure"
### Environment
Node version: 10.13.0
Npm version: 6.4.1
OS and version: Windows Server 2012 R2
typed-rest-client version: 1.7.3

### Issue Description
Some environments define the environment variable `NO_PROXY` to bypass proxy servers, which the `HttpClient` of this package respects. It is allowed to set wildcard domains in this environment variable like `*.microsoft.com`, altough not every clie

[2020-05-28 13:57] tuwrraphael commented on #215
I've created a fix for this problem which escapes the wildcard for the `RegExp` constructor.

[2020-06-01 21:03] #198 closed

[2020-06-09 13:15] NeverwinterMoon opened #219 "Promise.all problem"
I am trying to use RestClient as follows:

[code]

Requests for some of the IDs return response code 404. Whenever this happens, several other IDs, which would normally return a positive response, also returned as 404. If all of the IDs have a positive response, then it works fine.

[2020-06-11 12:38] #219 closed

[2020-06-11 21:03] #201 closed

[2020-06-24 21:54] mastrzyz opened #220 "ECONNRESET Errors not handled by retry mechanism"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v12.14.1
Npm version: 6.13.4
OS and version: OSX Catalin
typed-rest-client vers

[2020-06-24 21:55] mastrzyz commented on #220
I'm willing to help out with this issue, just want to confirm with folks we want to retry on ECONNRESET as well

[2020-06-26 15:47] huan commented on #6
We definitely need a multi-attachments file upload example!

[2020-06-29 08:11] imsergiobernal opened #221 "How can I test?"
Hello I would like to know what possibilities gives this library in order to unit testing, so the request never reaches the destination. Thanks

[2020-06-29 12:27] damccorm commented on #221
I'd recommend using [nock](https://github.com/nock/nock) - its what we use for our own testing https://github.com/microsoft/typed-rest-client/blob/master/test/units/httptests.ts

[2020-06-29 12:29] damccorm commented on #220
Retrying this makes sense to me, I'd be happy to review :)

[2020-06-30 20:11] #220 closed

[2020-07-03 14:00] bbenoist commented on #202
@bot It's not stale, it's just that we need someone to work on it 😕

[2020-07-06 02:04] #138 closed

[2020-07-08 15:58] imsergiobernal opened #224 "Proxifying method calls"
Does anyone tried to proxify RestClient methods through the Proxy class object? I would like to catch all method calls and log them into Elasic APM spans.

[2020-07-08 16:04] #206 closed

[2020-07-08 16:04] #208 closed

[2020-07-08 19:03] #166 closed

[2020-07-09 14:04] #145 closed

[2020-07-10 14:04] #202 closed

[2020-07-23 16:45] #224 closed

[2020-07-23 16:45] #221 closed

[2020-08-12 15:05] #213 closed

[2020-08-21 00:34] mattcobb commented on #220
Don't know if it actually works, but the SO post talks about a way to trigger the econnreset client side for testing. https://stackoverflow.com/questions/22836424/simulate-an-econnreset-error-on-a-node-js-net-socket-instance

[2020-08-21 21:37] fushinoryuu opened #229 "Rest client is adding extra quotes to payload"
### Environment
Node version: 13.12.0
Npm version: 6.14.4
OS and version: Windows 10
typed-rest-client version: 1.5.0

### Issue Description
When trying to send a request with a payload other than JSON, the client is not able to recognize this and adds extra quotes since it performs a `JSON.stringify()` on the payload.

This can be seen when trying to send a request with a body of `application/x-w

[2020-08-27 11:39] tuwrraphael commented on #215
I've created a fix for this problem and I'm still expecting it getting merged, therefore it is not actually stale.

[2020-08-27 21:06] brendangoldberg opened #231 "RestClient Date deserialization option"
### Suggestion Description

Currently deserialization of Dates must be provided as a request option per resource.

I suggest adding a flag in RestClient constructor request options which, when turned on, will deserialize all Dates.

### Example
[code]

### Notes
I have the implementation on a feature branch.

[2020-09-03 12:07] #215 closed

[2020-09-17 16:05] calebcartwright commented on #215
Sorry for the bump, but can we get an update on this? This lib is used within the Azure Pipelines ecosystem, and has started causing lots of challenges for us with our self-hosted agents.

cc'ing some folks based on semi-recent merges/commits @mastrzyz @damccorm @stephenmichaelf

[2020-09-22 10:11] tuwrraphael commented on #215
Thanks @calebcartwright for the support. Some of our self-hosted agents also still fail when executing azure web app deployments because of this. I think my PR is neat and small enough to review/merge.
I can for example rebase it on current master but I need some feedback here in order to take further actions.

[2020-10-05 21:58] mastrzyz commented on #220
@damccorm  What would be needed to get this in a released version, its been a long time for a release for this repo.

[2020-10-30 11:29] parkerault opened #234 "Make RestClient handle 404 like all other failure status codes"
### Issue Description

It drives me absolutely batty, especially when using typescript, that response.result is nullable only in the special case of a 404. What is the reasoning behind 404 being the only failure status code that doesn't throw in the RestClient? This also makes it impossible to send a payload with a 404: #202.

### Expected behaviour

[code]

### Actual behaviour

[code]

I work ar

[2020-10-30 11:34] parkerault opened #235 "RestClient response has no headers on failure."
### Issue Description

I often use response headers for client logging, etc on failed API requests. I love RestClient, but this breaks a lot of use cases for me.

### Expected behaviour

[code]

### Actual behaviour

I can't read the headers on a failed request.

[2020-10-30 12:02] parkerault opened #236 "HTTP Tests currently failing because of httpbin bug"
### Issue Description

httpbin is currently returning 404 on all requests to `redirect-to`. This issue: https://github.com/postmanlabs/httpbin/issues/617 has been open since June 20th, 2020. Most of the mentioned PRs on that issue are migrating to httpbingo, but it might be better to spin up a local server to remove external test dependencies.

[2020-11-05 12:25] awn70 opened #237 "Can't read body after GET with NTLM authentication"
### Environment
Node version: 12.19.0
Npm version: 6.14.8
OS and version: Windows 10 (1909)
typed-rest-client version: 1.7.3

### Issue Description
I want to make a GET request to a server running a Spring Rest API. Authentication is done with NTLM. The response comes back with statusCode 200, when I call response.readBody() the client hangs. I can see the successfull authentication in the server

[2020-11-23 08:48] air2 opened #241 "Feature request: Handle response decoding (JSON.parse) in a handler so you can provide your own"
### Issue Description
I have to a rest API (well some company provides a rest API and I have to talk to it) which has some long history so some calls do not send back json, but send back XML. Which screws the parsing. If I only could provide my own `body->json-object` handler it would be great. the default handler could implement the same logic as is in it right now.

Is this a direction this proj

[2020-11-26 22:06] #229 closed

[2020-12-02 22:07] #231 closed

[2020-12-02 22:12] BrendanSC commented on #231
Do we have any thoughts on this feature request?

[2021-01-28 17:56] parkerault commented on #235
If I write a patch for this, is there any interest in merging it?

[2021-01-29 12:59] amotl opened #246 "Humbly asking for a new release"
Dear @damccorm, @bryanmacfarlane and contributors,

first things first: Thanks a stack for conceiving this excellent package.

Through https://github.com/eskatos/gradle-command-action/issues/22, we became aware that 5f16b0dc3 coming from #194 might fix a deprecation warning observed by many people using the Gradle Command GitHub Action.

Some people also claim that this would occasionally crash th

[2021-01-29 17:35] damccorm commented on #246
Sure, pushed and tagged!

[2021-01-29 17:35] #246 closed

[2021-01-29 18:35] amotl commented on #246
Hi Danny,

that was really quick, thank you so much!

With kind regards,
Andreas.

[2021-02-03 15:49] awn70 commented on #237
Problem still exists...

[2021-02-04 12:19] #234 closed

[2021-02-04 12:19] #236 closed

[2021-02-04 18:07] #235 closed

[2021-02-10 05:13] darrenyung opened #247 "Stuck in an infinite loop in HttpClient.js when the server response with ECONNREFUSED"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 12.16.1
Npm version: 6.13.4
OS and version: macOS Big Sur 11.1
typed-rest-clien

[2021-02-10 16:10] #237 closed

[2021-02-18 06:10] HonzaMac commented on #215
This bug is happening also in my company proxy settings. It would be great to fix this as it blocks us from using https://github.com/stryker-mutator/stryker/issues/2731

[2021-02-28 09:07] #241 closed

[2021-02-28 10:42] air2 commented on #241
This is not stale

[2021-03-02 07:25] HonzaMac opened #252 "Environment variable "NO_PROXY" with wildcard causes HttpClient constructor failure"
Clone of issue #215 as it was closed, but it is still not fixed.

There is an [open PR](https://github.com/microsoft/typed-rest-client/pull/216) for this fix.

[2021-03-04 10:39] MadhuvanthG commented on #4
I'm using `1.8.1` and don't see that this issue has been fixed. Do we need to pass an additional param to preserve the path in baseURL? Looking at the code in the mentioned PR, doesn't look like it though.

[2021-03-08 18:17] #247 closed

[2021-03-09 16:57] #252 closed

[2021-03-09 16:57] HonzaMac commented on #252
PR merged

[2021-03-12 14:56] imsergiobernal opened #256 "HATEOAS (or hypermedia) feature"
### Issue Description
HATEOAS are a good practice for RESTful APIs. I miss some of native compatibility in the lib.

As HAL is still a draft, maybe there would be nice to pass some kind of adapter in order to let client to decide the format that will recieve. This adapter could be an Interface/Class that this lib exports for flexibility and consistency.

[code]

How many of you find this feature/c

[2021-03-25 01:10] gugahoi opened #257 "Support for query parameters in `create`, `update` and `replace` calls"
### Issue Description

I can see support for query parameters were added to the RestClient as per issue #172 however they were only added to some calls but not all. Is there a reason for that? It seems misleading that the library accepts query parameters for other calls however simply drops them without error or warning.

As an example, when trying to query `googleapi` with a post request, it requ

[2021-04-02 05:04] ajit601 opened #261 "Critical vulnerability detected in dependency "underscore""
The package underscore from 1.13.0-0 and before 1.13.0-2, from 1.3.2 and before 1.12.1 are vulnerable to Arbitrary Code Execution via the template function, particularly when a variable property is passed as an argument as it is not sanitized.

Details of the vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23358

It is advised to upgrade the version underscore to 1.12.1 or 1.

[2021-04-02 18:24] jessehouwing commented on #261
https://github.com/microsoft/typed-rest-client/pull/258

[2021-04-04 12:53] ajuanjojjj commented on #257
Hi; I submitted a pull request for this a while ago, but seems like the tests were failing at that time so I assume that's the reason it got ignored. Its passing all tests just fine now, so it'd be nice if it got merged

The PR: https://github.com/microsoft/typed-rest-client/pull/245

[2021-04-05 13:04] baruchiro opened #262 "Buffer.from Received undefined"
https://github.com/microsoft/typed-rest-client/blob/f21ab8a105826b64bf5c2df81e1f341537d273c0/lib/handlers/ntlm.ts#L145-L148

I'm trying to use https://github.com/Microsoft/azure-devops-node-api, with NTLM, and I getting this message:

[code]

I don't know exactly what is going on, I just trying to write a simple script, but something in the code seems wrong. If no `regex.match`, we accessing to em

[2021-04-12 04:23] DaniilShmelev commented on #261
Released typed-rest-client version 1.8.4 that includes this fix.

[2021-04-12 04:23] #261 closed

[2021-04-25 18:39] EpicKris commented on #241
Bump.

[2021-05-24 07:31] yogesh-MS opened #272 "`Cannot read property 'toString' of undefined` error on line 93 of Util.js."
I get a `Cannot read property 'toString' of undefined` error on line 93 of Util.js.

`resolve(buffer.toString(charset || 'utf-8'));`

The buffer is undefined when running Chrome 86.0.4240.198 in debug mode with the following command line:

If I remove `--disable-web-security --user-data-dir=$HOME/chromeTemp` from the command line, I get more cryptic error message:

`Failed to fetch `

Any ideas wh

[2021-05-24 15:49] anatolybolshakov commented on #272
Hi @YogeshIITK looks like zlib.gunzip returns undefined result without any error - it's definitely makes sense to add null check then - let us take a look.

[2021-05-25 04:40] YogeshIITK commented on #272
I think- Decompression is already done by browser.. and This function again trying to decompress the responses content... that's why buffer becomes undefined.. Earlier our app code was working fine with "typed-rest-client": "1.5.0" but when we took upgrade to  "typed-rest-client": "1.8.4",, we are seeing this issue..

[2021-06-03 19:09] cgadam opened #278 "decompressGzippedContent : missing return when rejecting promise"
Shouldn't this `reject` have a `return` next to it? Otherwise both `resolve` and `reject` gets called leading to unexpected results.

https://github.com/microsoft/typed-rest-client/blob/master/lib/Util.ts#L93

Actually I think this is the reason why this other error gets exposed: https://github.com/microsoft/typed-rest-client/issues/272 instead of bubbling up the actual error from the `zlib` libra

[2021-06-04 16:31] anatolybolshakov commented on #278
Hi @cgadam in general this won't lead to issue - since promise object in rejected state can't be moved to resolved.

[2021-06-10 17:40] anatolybolshakov commented on #278
@cgadam I'm closing this at the moment since it looks resolved - please let us know if you have any concerns.

[2021-06-10 17:40] #278 closed

[2021-06-22 05:34] Edward-Zhou opened #279 "How to reuse cookie in HttpClient"
I am trying to use `typed-rest-client/HttpClient` like below:
[code]
But the body2 return 403 error which is caused by the second request did not attach the cookies from the first request.

I am trying to confrim whether there is any configure to reuse the cookies or share the cookies for the same domain.

I searcha and found a similar issue below, but it closed with any answers.

[Cross-domain au

[2021-06-29 20:09] rogerzxu commented on #201
I'm also running into this issue, will submit a PR

[2021-07-12 09:24] avinashs15 opened #281 "Sending body with delete request"
Hi,

I was wondering if there is a way to send body with RestClient Delete request.

As of now there's no option to send body with RestClient.del<ResponseType>(resource: string, options?: IRequestOptions | undefined):

[2021-07-20 19:26] venkatp253 opened #284 "Underscore 1.12.1 being used shows vulnerability https://npmjs.com/advisories/1674"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v15.5.1
Npm version: 6.14.11
OS and version: windows 10, 21H1 build 19043.110
t

[2021-08-04 14:40] DanielBolivar121 commented on #70
typescrit --> "typescript": "^4.0.5" in package.json in devDependencies.

[2021-08-11 08:32] #284 closed

[2021-08-12 10:30] ssaarinen opened #291 "Possible regression in proxy variable processing"
### Environment
Azure devops pipeline (hosted ubuntu 1604)
typed-rest-client version: 1.8.5

### Issue Description
ContainerStuctureTest task which uses typed-rest-client internally fails with following error:
`##[error]Unhandled: Invalid regular expression: /(?<!\\)([.])(?!\*)/: Invalid group`

ContainerStructureTest needs typed-rest-client to be added manually and only change to the pipeline was

[2021-08-12 11:50] EzzhevNikita commented on #291
Hi @ssaarinen, seems like the issue is caused by the fact lookbehind constructions are not supported by node 6 which is used by this task. We've deprecated typed-rest-client of 1.8.5 version for now.

[2021-08-12 12:38] EzzhevNikita commented on #291
@ssaarinen We have reverted changes (https://github.com/microsoft/typed-rest-client/pull/292) made in 1.8.5 version. So seems like this issue could be resolved.

[2021-08-12 12:38] #291 closed

[2021-08-12 12:44] ssaarinen commented on #291
FWIW I think ContainerStructureTest should update it's runtime as node 6 is pretty stale. Also CST task does not even include typed-rest-client directly (which it also should and thus pin the version) but I have to install it manually before running the task. => Lazy me just installed the latest version causing the error.

[2021-08-12 12:54] EzzhevNikita commented on #291
@ssaarinen  Yeah, I agree with you about updating the task runtime. In general, we are working on migrating all the built-in tasks to node 10, most of them have already been migrated, but there are some that have not been migrated yet. Unfortunately, my team does not support this particular task, so I suggest you create a ticket in the https://github.com/microsoft/azure-pipelines-tasks/issues repo

[2021-08-17 22:00] ivansnek opened #293 "SyntaxError: Invalid regular expression: invalid group specifier name"
### Environment
Node version: **16.4.2**
Npm version: **6.14.14**
OS and version: **macOS Big Sur 11.3.1**
typed-rest-client version: **1.8.4**

### Issue Description
- Web app using this library as dependency not working on iOS browsers(Chrome, Safari, Brave & Firefox tested)

### Expected behaviour
Dependency work as expected like prior versions

### Actual behaviour
Exception throw: `SyntaxErro

[2021-08-30 09:13] nicojs opened #294 "Confusing deprecation: "1.8.5 contains changes that are not compatible with Node 6""
The current latest release of `typed-rest-client` is v1.8.5, but when you navigate to the [package on NPM](https://www.npmjs.com/package/typed-rest-client) it states this message:

![image](https://user-images.githubusercontent.com/1828233/131315253-e7470b5d-a08d-44bf-9a9e-53f8e56f55d8.png)

What does this mean? Node 6 has been [end of life for about half a decade](https://nodejs.org/en/about/rele

[2021-08-30 09:19] kuleshovilya commented on #281
We looked into the issue, and currently, we don't consider implementing that, as this is not relevant for most users. We'll keep this request in the backlog, and if we'll see an increase in demand for it, will implement that.
For now, I'll close the ticket, feel free to follow up if you have any questions or ping me at v-ikuleshov@microsoft.com

[2021-08-30 09:19] #281 closed

[2021-08-30 09:37] EzzhevNikita commented on #294
Hi @nicojs, typed-rest-client contains changes related to the processing of NO_PROXY env variable (related [PR](https://github.com/microsoft/typed-rest-client/pull/286)) that happens with using a regular expression with the construction that is not supported in Node 6. Since this library is used by in-the-box tasks and some of them still use Node 6 we need to keep the support of this Node version.

[2021-08-30 12:02] EzzhevNikita commented on #294
@nicojs UPD: we've published typed-rest-client@1.8.6 which contains revert the changes made in 1.8.5, so, you could just use the latest version of the package and there shouldn't be a warning message.

[2021-08-30 12:33] nicojs commented on #294
Ah thanks @EzzhevNikita. I was hoping for a solution like that. Great work. 👍

[2021-08-30 12:33] #294 closed

[2021-08-30 13:28] EzzhevNikita commented on #293
@ivansnek Please try to use typed-rest-client@1.8.6, this issue should be fixed there.

[2021-08-31 09:51] kuleshovilya commented on #272
Don't think that's the case here, client's execution won't be affected by that, or at least shouldn't be. And we tested this exact behavior on mock react app, and it worked fine. We'll look more into what can be done, maybe if it's possible you could at least provide some abstract repro steps for that, so we could repeat your situation more closely. Also, on related note - what NodeJS version are

[2021-08-31 13:48] kuleshovilya commented on #272
Yeah, after extensive testing I'm pretty sure it's not the browser\decoding issue. The value comes into client either encoded or decoded, and then processed accordingly, code handles it correctly. So, we would need some context to troubleshoot the issue. Let's start with:
NodeJS version
Could you please describe context in which this issue occurs? As in conditions, what it's supposed to do etc

[2021-09-01 05:10] EzzhevNikita commented on #293
@ivansnek Is your issue resolved? Could we close this item?

[2021-09-01 15:33] ivansnek commented on #293
@EzzhevNikita yes is working again, thanks for the update

[2021-09-01 15:33] #293 closed

[2021-09-10 07:23] kuleshovilya commented on #272
Any update on the request?

[2021-09-13 11:08] kuleshovilya commented on #272
I'll close the ticket for now, but you can always reopen it or ping me at v-ikuleshov@microsoft.com

[2021-09-14 09:32] kuleshovilya opened #297 "Update Azure pipeline and remove GitHub action"
Related to suggestion from this [comment](https://github.com/microsoft/typed-rest-client/pull/296#issuecomment-917924921)
Merge pipelines into one, leave Azure Pipeline as active

[2021-09-15 11:06] yogesh-MS commented on #272
![image](https://user-images.githubusercontent.com/3176607/133422588-a737c1ee-dace-4c21-8c02-42c21a349648.png)

[2021-09-16 08:28] kuleshovilya commented on #297
Made a PR, moved to waiting for code review

[2021-09-16 09:56] kuleshovilya commented on #272
@yogesh-MS Rechecked the function and still, it works fine with gzip content in chrome or any other browser, it doesn't re-decompress it, since it first checks for the content, whether its gzip or not.
Can you please check whether the correct value comes in to the client from the app side?
The older version, which worked for you, didn't have value checks the newer one has, so that might be the rea

[2021-09-21 07:21] kuleshovilya commented on #272
@yogesh-MS Any update on the request?

[2021-09-21 10:05] kuleshovilya commented on #297
Merged

[2021-09-21 10:05] #297 closed

[2021-09-27 15:02] #279 closed

[2021-09-29 13:01] anatolybolshakov commented on #272
Hey @yogesh-MS there seems to be an issue with NodeJS not relevant to the typed-restl-client library itself - there is an empty buffer parameter in [line](https://github.com/microsoft/typed-rest-client/blob/master/lib/Util.ts#L96) for some reason coming in callback for zlib.gunzip method - although we did not found any relevant known NodeJS issues for this...
Could you please open a ticket in Node

[2021-09-30 17:29] ajuanjojjj commented on #257
The issue is still reproducible, and the linked PR that fixes it hasn't been reviewed. For anyone encountering this, you can fix it on your project using [patch-package](https://www.npmjs.com/package/patch-package), and adding `, (options || {}).queryParameters` to the URLs on the methods yourself.

[2021-12-02 20:21] FalconerTC opened #302 "Authentication header is set on redirect request"
### Environment
Node version: Any
Npm version:  Any
OS and version:  Any
typed-rest-client version: Latest

### Issue Description
Work was done to prevent the authentication header being set on redirects that use credential handlers (https://github.com/microsoft/typed-rest-client/pull/207) but this header should really be prevented on all redirect requests (or an option added to prevent it from be

[2022-01-20 09:02] #257 closed

[2022-02-02 03:07] quaos commented on #152
I also got this in React app created using `create-react-app` with `cra-typescript` template. Using yarn, without any custom webpack config. 😢

[2022-02-04 13:45] mmajcica opened #306 "ETIMEDOUT for certain calls on Node 16"
### Environment
Node version: v16.13.1
Npm version: 8.1.2
OS and version: Windows 10 1909
typed-rest-client version: 1.8.6

### Issue Description
Getting a timeout on certain calls.

Exception: Error: connect ETIMEDOUT 13.107.42.20:443
Stack: Error: connect ETIMEDOUT 13.107.42.20:443
    at TCPConnectWrap.afterConnect [as oncomplete] (node:net:1161:16)
    at TCPConnectWrap.callbackTrampoline (nod

[2022-02-04 15:18] EzzhevNikita commented on #306
@mmajcica This definitely could be the problem caused by Node 16, this library is mostly used as a rest client for the Azure DevOps in the-box-tasks and supported to correspond tasks use cases, most of the tasks are running with Node 10, so from our side I can exactly say that this library is correctly working with Node 10. Regarding running it with Node 16, truly speaking I don't know if anybody

[2022-02-04 16:21] mmajcica commented on #306
@EzzhevNikita we are trying to move to node16 and push our code on Azure Functions v4. Both azure-devops-node-api and typed-rest-client are essential for our code and this is not great news. Any plans to test and support at least node 14?

[2022-02-04 17:36] mmajcica commented on #306
I also tried with v14.17.0 but still the same outcome.

[2022-02-07 09:22] mmajcica commented on #306
@EzzhevNikita so node10 is still actual but MS is pushing us to get on newr version on the other side, check the Q1 feature line for Azure DevOps agents https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1888423
[Deprecate Node 10 from agent and tasks](https://dev.azure.com/mseng/AzureDevOpsRoadmap/_workitems/edit/1888423)
https://docs.microsoft.com/en-us/azure/devops/release-notes/fea

[2022-02-07 14:35] mmajcica commented on #306
I found the culprit. It has to do with a typo inside the NO_PROXY env var used. Though this solves the issue, I would expect that such a typo would not cause such wired issues. This should be investigated, however not by you, but with nodejs community.

[2022-02-07 14:35] #306 closed

[2022-03-10 08:05] #302 closed

[2022-04-16 00:07] Axosoft-Ashley opened #321 "Performance issues with readBody in HttpClient.ts"
### Environment
Node version: 14.18.3
Npm version: 6.14.5
OS and version: Mac 10.15.7
typed-rest-client version: ^1.8.4

### Issue Description
Buffer.concat being called on repeat inside `readBody` in `HttpClient.ts` is causing electron UI to freeze.
NOTE: we do have a incomming PR on the way, we collect the `chunks` into an array and build the `Buffer` with a single concat in the 'end' phase of t

[2022-04-18 07:05] AndreyIvanov42 commented on #321
Hi @Axosoft-Ashley  thanks for reporting! We'll look what we can do.

[2022-04-18 16:17] Mr-Wallet commented on #321
Hi, I'm a colleague of Axosoft-Ashley. What did you think of the solution she described about gathering up chunks and doing a single `Buffer.concat`? We would be happy to open a pull request ourselves with our solution.

The only downside I can see is that it doesn't allow the garbage collector to free up the chunks while the stream is still going, but in practice that doesn't seem like a very lar

[2022-04-27 15:24] AndreyIvanov42 commented on #321
Thanks all for the help!

[2022-05-04 12:00] #321 closed

[2022-05-12 19:44] akrantz opened #327 "error from zlib not handled properly in decompressGzippedContent()"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: 16.15.0
Npm version: 8.10.0
OS and version: Windows 11
typed-rest-client versio

[2022-05-12 19:45] akrantz commented on #327
The resolve() statement should be in the else clause if the if before it.

[2022-05-19 07:31] kirill-ivlev commented on #327
@akrantz thank you for reporting!

resolve statement should be in the else block, or we should have a return statement in the error block.

I've prepared PR which resolves this issue.

[2022-05-25 12:49] microsoft-github-policy-service[bot] opened #330 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-26 09:14] #330 closed

[2022-05-30 15:50] per1234 commented on #47
Please take another look at this. The tags have not been created for recent releases of the package.

CC: @kirill-ivlev @bryanmacfarlane

[2022-06-13 15:42] snydergd opened #331 "Unable to read error message from response header"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues - Searched but could not find an existing one. -- **Done**
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues -- **Done**

### Environment
Node version: 10
Npm v

[2022-06-14 11:45] vmapetr commented on #331
@snydergd Thanks for reporting! We are working on more prioritized issues now but will get back to this one soon.

[2022-07-15 02:17] liangshengzhong opened #334 "uncaught reference error: the process does not define in browser"
1. Please check our current Issues to see if someone already reported this https://github.com/Microsoft/typed-rest-client/issues
2. Take a look at our Instructions for logging issues https://github.com/Microsoft/typed-rest-client/blob/master/CONTRIBUTING.md#instructions-for-logging-issues

### Environment
Node version: v16.16.0
Npm version: 8.11.0
OS and version: macOS 12.4
typed-rest-client versi

[2022-07-15 13:27] KonstantinTyukalov commented on #334
Hi @liangshengzhong!
Thanks for reporting. Let us take a look at this issue once we're done with the higher priority tickets.
Could you clarify the following questions:
- Did you try using this rest client for the first time? If not, has there been this problem before?
- As far as I know `process.env` not present in browser. Could this be the cause of the error?

Thank you

[2022-07-15 13:42] AndreyIvanov42 commented on #334
@liangshengzhong
This library can be used only with Node.js runtime. `typed-rest-client` is written based on the `http` and `https` modules from the node

[2022-07-15 16:41] AndreyIvanov42 commented on #334
@liangshengzhong
This library can be used only with Node.js runtime. typed-rest-client is written based on the http and https modules from the Node.

Browser support can be implemented by third-party utilities that replace the implementation of the necessary modules from Node

[2022-07-15 18:39] AndreyIvanov42 commented on #334
It will be helpful if you provide a minimal example that reproduced this issue

[2022-07-18 00:40] liangshengzhong commented on #334
Yes, this is the first time  we are trying to use this package in our projects

     I think so, so can you confirm that this is a nodejs only library, or if it supports both browsers and nodejs? I can not get any information about this in document. But I saw there is a react example in sample

[2022-07-18 01:11] liangshengzhong commented on #334
@AndreyIvanov42 Thank you for your reply。

This means that by default typed-rest-client is a NodeJS only library, right?

I would appreciate if you could recommend some third-party libraries that can implement that

[2022-07-20 07:11] liangshengzhong commented on #334
@AndreyIvanov42
The code to reproduce the issue https://github.com/liangshengzhong/vue-typed-rest-client.
[code]

[2022-07-21 09:08] AndreyIvanov42 commented on #334
Hi @liangshengzhong
@KonstantinTyukalov will prepare samples for client use in the browser

[2022-07-22 00:54] liangshengzhong commented on #334
Glad to hear that, thanks

[2022-07-25 07:50] KonstantinTyukalov commented on #334
Hi @liangshengzhong, could you try this workaround for vite config? - https://github.com/vitejs/vite/issues/1973#issuecomment-787571499

[2022-07-28 03:10] liangshengzhong commented on #334
@KonstantinTyukalov The workaround resolves the `the process does not define` error, but when I try to send a GET request, a new error occurs. I have updated the code to reproduce this error. https://github.com/liangshengzhong/vue-typed-rest-client
[code]

[2022-08-18 16:49] akrantz commented on #327
I believe this was fixed.

[2022-08-18 16:49] #327 closed

[2022-09-12 13:40] snydergd commented on #331
@vmapetr thanks for following up!  I just realized I did not provide much context on this and that it might be useful.  I discovered the issue while using [azure-devops-node-api](https://github.com/microsoft/azure-devops-node-api) in a nodejs task extension for Azure DevOps. Since that runs behind the scenes on a server, this means I was left guessing the error message or trying to recreating the

[2022-10-13 09:05] #331 closed

[2022-10-21 11:08] nileshzala005 opened #340 "not working with react with next js ,"
Using typed-rest-client with react next js
 not able to init RestClient

import { IRequestQueryParams } from 'typed-rest-client/Interfaces';
import * as restc from 'typed-rest-client/RestClient';

[code]
Getting this error
error - ./node_modules/typed-rest-client/HttpClient.js:134:0
Module not found: Can't resolve 'fs'

Import trace for requested module:
./node_modules/typed-rest-client/RestClient

[2022-10-21 15:17] Roman-Shchukin commented on #340
Hi @nileshzala005, thanks for reporting! We are working on more prioritized issues at the moment, but will get back to this one soon.

[2022-10-27 10:20] nileshzala005 commented on #340
after spending a few hours, able to fix
install net , tls package and update update next.config.js as following
[code]

[2022-11-02 03:41] #334 closed

[2022-11-08 21:18] jamesarosen opened #341 "Discussion: use with fetch API"
### Environment
Node version: 18.x
typed-rest-client version: 1.8.11

### Issue Description
Popular libraries like [make-fetch-happen](https://www.npmjs.com/package/make-fetch-happen) and [cache-control-fetch](https://www.npmjs.com/package/cache-control-fetch) rely on the `fetch` API. This API is new in Node 18, but has good polyfill support through [node-fetch](https://www.npmjs.com/package/node-

[2022-11-08 21:32] jamesarosen commented on #341
In the meantime, [`scarlett`](https://www.npmjs.com/package/scarlett) is a possible alternative for folks who want a typed fetch-based REST library.

[2022-11-09 10:25] DmitriiBobreshev commented on #341
Hi @jamesarosen, thank's for the suggestion, we will take a look what is the best way to implement the solution when we will have enough capacity, but any suggestions, discussions and PRs are welcome!

[2022-11-09 18:19] jamesarosen commented on #341
I think the simplest thing would be to add an optional `FetchBasedHttpClient` to this package. Clients would opt into it with:
[code]
That would require adding an *optional* package dependency on either `node-fetch` or `minipass-fetch`.

Another alternative would be a separate package like `microsoft/typed-fetch-client`. That seems like more overhead than is necessary.